/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; }
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/



#cboxOverlay{background:url(../images/colorbox-stuff/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/colorbox-stuff/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/colorbox-stuff/controls.png)no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/colorbox-stuff/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/colorbox-stuff/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../images/colorbox-stuff/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/colorbox-stuff/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/colorbox-stuff/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/colorbox-stuff/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/colorbox-stuff/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/colorbox-stuff/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/colorbox-stuff/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/colorbox-stuff/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/colorbox-stuff/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(../images/colorbox-stuff/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(../images/colorbox-stuff/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(../images/colorbox-stuff/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(../images/colorbox-stuff/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(../images/colorbox-stuff/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(../images/colorbox-stuff/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(../images/colorbox-stuff/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(../images/colorbox-stuff/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}


/*------------------------
new styles
--------------------------*/

.inline img { border:1px solid #bfbfbf; z-index:1;  }

.box-inline {  margin-right: 18px; float:left; margin-bottom: 18px; }

.box-inline-right { float:right; }

#cassandra_content, #stephanie_content, #jenifer_content, #leigh_content, #natalia_content, #amy-elizabeth_content, #katherine_content, #jennifer-l_content, #shadd_content, #micere_content, #vicki_content, #scott_content, #jenniferr_content, #till-hoyt-content, #micere_content { font-family:Arial, Helvetica, sans-serif; padding:10px; background:#fff; line-height:160%; font-size:12px;}

#cassandra_content img, #stephanie_content img, #jenifer_content img, #leigh_content img, #natalia_content img, #amy-elizabeth_content img, #katherine_content img, #jennifer-l_content img, #shadd_content img,#micere_content img, #vicki_content img, #scott_content img, #jenniferr_content img, #till-hoyt-content img, #micere_content img  { float:left; margin-right:20px; border:1px solid #bfbfbf;  }

#cassandra_content h2, #stephanie_content h2, #jenifer_content h2, #leigh_content h2, #natalia_content h2, #amy-elizabeth_content h2, #katherine_content h2, #jennifer-l_content h2, #shadd_content h2, #micere_content h2, #vicki_content h2, #scott_content h2, #jenniferr_content h2, #till-hoyt-content h2, #micere_content h2  { font-size:20px;  }


.disp-none { display:none; }




div.theme-title { display:block; color:#ffffff; padding:10px 5px 5px 5px; width:138px; margin:-44px 0 0 1px; font-size:1.1em; line-height:140%; text-align:center; text-shadow: 1px 1px 1px #000;  }

div.theme-title-two { display:block; color:#ffffff; padding:10px 5px 5px 5px; width:138px; margin:-62px 0 0 1px; font-size:1.1em; line-height:140%; text-align:center; text-shadow: 1px 1px 1px #000;   }



/*------ Hover States -------*/

.more{
    position:relative;
    clear:both;
    font-family:'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 0px 10px;
    width: 540px;
    margin: 0 auto;
}
.more ul{
    display:block;
    text-align:center;
    height: 30px;
}
.more ul li{
    display: block;
    padding: 4px 2px;
    float:left;
}
.more ul li.selected a,
.more ul li.selected a:hover{
    background:#b2891b;
    color:#fff;
    text-shadow:none;
}
.more ul li a{
    color:#555;
    float:left;
    background:#fff;
    width:40px;
    padding: 2px 5px;
    -moz-box-shadow:1px 1px 2px #aaa;
    -webkit-box-shadow:1px 1px 2px #aaa;
    box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
    background:#000;
    color:#fff;
}


.view {
   width: 200px;
   height: 200px;
   margin: 10px 12px 10px 0;
   float: left;
   border: 5px solid #e0e0de;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 3px #b1b1b1;
   -moz-box-shadow: 1px 1px 3px #b1b1b1;
   box-shadow: 1px 1px 3px #b1b1b1;
   cursor: default;
   background: #790092;
}

.view-right {
   width: 200px;
   height: 200px;
   margin: 10px 0 10px 0;
   float: right;
   border: 5px solid #f1f1ef;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 3px #b1b1b1;
   -moz-box-shadow: 1px 1px 3px #b1b1b1;
   box-shadow: 1px 1px 3px #b1b1b1;
   cursor: default;
   background: #790092;
}

#main-content .force-right { margin: 10px 0 10px 0;
   float: right;  }

.view .mask,.view .content {
   width: 200px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
#main-content .view p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   position: relative;
   color: #ffffff;
   padding: 10px 10px 0 10px;
   text-align: center;
   line-height:140%;
}
#main-content .view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background-color: #380044;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   font-weight: normal;
}
#main-content .view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
   background-color: #5c0070;
}

.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   cursor:pointer;
}
.view-fifth .mask {
   background-color: rgba(146,96,91,0.3);
   -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   cursor:pointer;
}
.view-fifth h2 {
   background: #ffffff;
   color: #520063;
   -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #333;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view-fifth:hover img {
   -webkit-transform: translateX(300px);
   -moz-transform: translateX(300px);
   -o-transform: translateX(300px);
   -ms-transform: translateX(300px);
   transform: translateX(300px);
}
.view-fifth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
