.da-slider{
    width: 100%;
    min-width: 695px;
    height: 890px;
    position: relative;
    margin:-15px 0 0 -20px;
    overflow: hidden;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
    -webkit-transition: background-position 1.4s ease-in-out 0.3s;
    -moz-transition: background-position 1.4s ease-in-out 0.3s;
    -o-transition: background-position 1.4s ease-in-out 0.3s;
    -ms-transition: background-position 1.4s ease-in-out 0.3s;
    transition: background-position 1.4s ease-in-out 0.3s;
    
}
.da-slide{
    margin-top:10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    
}
.da-slide-current{
    z-index: 1000;
}
.da-slider-fb .da-slide{
    top: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
    top: 0%;

}

.da-slide .obj-one,
.da-slide .fac-links,
.da-slide .da-link,
.da-slide .da-img{
    position: absolute;
    opacity: 0;
    top: 0%;
}


.da-slide h2 { position: absolute; top:-15%;}


.da-slider-fb .da-slide .obj-one,
.da-slider-fb .da-slide .fac-links{
    top: -2%;
    opacity: 1;
}

.da-slider-fb .da-slide .da-link { top: 8%; opacity: 1;  }

.da-slider-fb .da-slide h2 { opacity: 1; }


.da-slider-fb .da-slide .da-img{
    top: 0%;
    opacity: 1;
    
    
}

.da-slider-fb .da-slide .fac-links{
    top: 320px;
    opacity: 1;
}

.da-slide h2{
    color: #520063;
    width: 50%;
    z-index: 10;
    font-weight:normal;
    left:20px;
}


.da-slide .obj-one{
    width: 539px;
    top: 155px;
    color: #916c05;
    font-size: 18px;
    line-height: 26px;
    height: 338px;
    overflow: hidden;
    font-style: italic;
    font-family: 'Economica', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    z-index: 100;
    left:0px;
}

li.pull-ten a { 
    margin-left:-20px;
}

li.pull-ten-plus a { 
    margin-left:-30px;
}

li.pull-fif a { 
    margin-left:-40px;
}

li.pull-fif-plus a { 
    margin-left:-50px;
}

li.push-twen a { margin-left:56px;  }

li.push-twen-plus a { margin-left:106px;  }


#main-content .fac-links ul.core-links-hd{
    float: left;
    width:220px;
    text-align:left;
    padding-left:80px;
    margin-top:-165px;
    list-style:none;

        
    
}

#main-content .fac-links ul.core-links-m{
    float: right;
    width:260px;
    text-align:left;
    padding-right:35px;
    margin-top:-165px;
    list-style:none;
    
        
    
}

#main-content .fac-links ul.core-links-sp{
    float: left;
    clear:both;
    width:400px;
    text-align:center;
    padding-right:10px;
    margin-left:125px;
    margin-top:55px;
    list-style:none;
        
    
}


#main-content .fac-links ul.discipline-links {
    float: left;
    width:120px;
    text-align:center;
    padding-right:21px;
    margin-left: 18px;
    margin-top:75px;

        
}

#main-content .fac-links ul.pol-sci-links {
    float: left;
    width:120px;
    text-align:center;
    padding-right:4px;
    margin-left: 10px;
    margin-top:120px;

        
}





#main-content .fac-links ul.lower-disc-links {
    float: left;
    width:120px;
    text-align:center;
    padding-right:21px;
    margin-left: 2px;
    margin-top:120px;

        
}

#main-content .fac-links ul { list-style:none; }


#main-content .fac-links ul.discipline-links li a, #main-content .fac-links ul.pol-sci-links li a, #main-content .fac-links ul.lower-disc-links li a { font-size:14px; }


.da-slide .fac-links{
    width: 695px;
    top: 150px;
    font-size: 18px;
    line-height: 120%;
    height: 310px;
    overflow: visible;
    font-style: normal;
    font-family: 'Economica', Arial, sans-serif;
    font-weight: 400;
    z-index: 900;
    
}


#main-content .da-slide .fac-links li a {
    color:#ffffff;
    font-weight:normal; 
    font-size:12px;
    
}

#main-content .da-slide .fac-links li { line-height: 80%; margin-bottom: 9px;  }


.da-slide .da-img{
    z-index: 10;
    text-align: left;
    width: 100%;
    top: 3%;
    line-height: 320px;
    left: 0; /*60%*/
}
.da-slide .da-link{
    top: 270px; /*depends on p height*/
    color: #fff;
    line-height: 30px;
    width: 549px;
    right:0px;
    z-index: 200;
}

.da-dots{
    display:none;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0px;
    bottom: 20px;
    z-index: 2000;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-dots span{
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #520063;
    margin: 3px;
    cursor: pointer;
    box-shadow: 
        1px 1px 1px rgba(0,0,0,0.1) inset, 
        1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color:#ffffff;

    
}
.da-arrows span{
    overflow:visible;
    position: absolute;
    height: 18px;
    cursor: pointer;
    z-index: 9000;
}

.da-arrows span:after{
    content: '';
    position: absolute;
    width: 695px;
    height: 29px;
    background: transparent url(../images/vert-arrows-long.jpg) no-repeat top left;
    
}
.da-arrows span:hover:after{
    
}
.da-arrows span:active:after{
    
}
.da-arrows span.da-arrows-next:after{
    background-position: bottom right;
}
.da-arrows span.da-arrows-prev{
    background: transparent url(../images/vert-arrows-long.jpg) no-repeat top left;
    width: 695px;
    height: 29px;
    top: 0px;
}
.da-arrows span.da-arrows-next{
    background: transparent url(../images/vert-arrows-long.jpg) no-repeat bottom left;
    width: 695px;
    height: 29px;
    bottom: 0px;
}

.da-slide-current h2{
    top: -4%;
    opacity: 1;
}

.da-slide-current .obj-one,
.da-slide-current .da-link {
    top: 8%;
    opacity: 1;
    
}

.da-slide-current .fac-links {
    top: 33%;
    opacity: 1;
}


.da-slide-current .da-img{
    top: 0%;
    opacity: 1;
}




/* Animation classes and animations */






/* Sliding in from the bottom*/
.da-slide-fromright h2{
    -webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    animation: fromRightAnim1 0.6s ease-in 0.8s both;
}

.da-slide-fromright .obj-one{
    -webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
    animation: fromRightAnim2 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-link{
    -webkit-animation: fromRightAnim3 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim3 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim3 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim3 0.6s ease-in 0.8s both;
    animation: fromRightAnim3 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-img{
    -webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
    animation: fromRightAnim4 0.6s ease-in 0.8s both;
}

.da-slide-fromright .fac-links{
    -webkit-animation: fromRightAnim5 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim5 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim5 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim5 0.6s ease-in 0.8s both;
    animation: fromRightAnim5 0.6s ease-in 0.8s both;
}


@-webkit-keyframes fromRightAnim1{
    0%{ top: 1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
    0%{ top: 50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@-webkit-keyframes fromRightAnim5{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}

/*-------------------------------------*/

@-moz-keyframes fromRightAnim1{
    0%{ top: 1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
    0%{ top: 50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@-moz-keyframes fromRightAnim5{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}

/*-------------------------------------*/

@-o-keyframes fromRightAnim1{
    0%{ top: 1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
    0%{ top: 50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@-o-keyframes fromRightAnim5{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}

/*-------------------------------------*/

@-ms-keyframes fromRightAnim1{
    0%{ top: 1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
    0%{ top: 50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@-ms-keyframes fromRightAnim5{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}

/*-------------------------------------*/

@keyframes fromRightAnim1{
    0%{ top: 1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@keyframes fromRightAnim2{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@keyframes fromRightAnim3{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@keyframes fromRightAnim4{
    0%{ top: 50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@keyframes fromRightAnim5{
    0%{ top: 110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}

/*-------------------------------------*/







/* Sliding in from the top*/


.da-slide-fromleft h2{
    -webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
    -moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
    -o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
    -ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
    animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .obj-one{
    -webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
    -moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
    -o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
    -ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
    animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}


.da-slide-fromleft .da-link{
    -webkit-animation: fromLeftAnim3 0.6s ease-in 0.6s both;
    -moz-animation: fromLeftAnim3 0.6s ease-in 0.6s both;
    -o-animation: fromLeftAnim3 0.6s ease-in 0.6s both;
    -ms-animation: fromLeftAnim3 0.6s ease-in 0.6s both;
    animation: fromLeftAnim3 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .da-img{
    -webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
    -moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
    -o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
    -ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
    animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}


.da-slide-fromleft .fac-links{
    -webkit-animation: fromLeftAnim5 0.6s ease-in 0.6s both;
    -moz-animation: fromLeftAnim5 0.6s ease-in 0.6s both;
    -o-animation: fromLeftAnim5 0.6s ease-in 0.6s both;
    -ms-animation: fromLeftAnim5 0.6s ease-in 0.6s both;
    animation: fromLeftAnim5 0.6s ease-in 0.6s both;
}

/*-------------------------------------*/
@-webkit-keyframes fromLeftAnim1{
    0%{ top: -1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
    0%{ top: -50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@-webkit-keyframes fromLeftAnim5{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}


/*-- made both 2 and 3 the same --*/

/*-------------------------------------*/

@-moz-keyframes fromLeftAnim1{
    0%{ top: -1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
    0%{ top: -50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim5{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}

/*-------------------------------------*/

@-o-keyframes fromLeftAnim1{
    0%{ top: -1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
    0%{ top: -50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@-o-keyframes fromLeftAnim5{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}

/*-------------------------------------*/

@-ms-keyframes fromLeftAnim1{
    0%{ top: -1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
    0%{ top: -50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim5{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}

/*-------------------------------------*/

@keyframes fromLeftAnim1{
    0%{ top: -1%; opacity: 0; }
    100%{ top: -4%; opacity: 1; }
}
@keyframes fromLeftAnim2{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}
@keyframes fromLeftAnim3{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 8%; opacity: 1; }
}
@keyframes fromLeftAnim4{
    0%{ top: -50%; opacity: 0; }
    100%{ top: 0%; opacity: 1; }
}

@keyframes fromLeftAnim5{
    0%{ top: -110%; opacity: 0; }
    100%{ top: 33%; opacity: 1; }
}
/*-------------------------------------*/









/* Slide out to the bottom */


.da-slide-toright h2{
    -webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
    -moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
    -o-animation: toRightAnim1 0.6s ease-in 0.6s both;
    -ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
    animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright .obj-one{
    -webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
    -moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
    -o-animation: toRightAnim2 0.6s ease-in 0.3s both;
    -ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
    animation: toRightAnim2 0.6s ease-in 0.3s both;
}

.da-slide-toright .da-link{
    -webkit-animation: toRightAnim3 0.6s ease-in 0.3s both;
    -moz-animation: toRightAnim3 0.6s ease-in 0.3s both;
    -o-animation: toRightAnim3 0.6s ease-in 0.3s both;
    -ms-animation: toRightAnim3 0.6s ease-in 0.3s both;
    animation: toRightAnim3 0.6s ease-in 0.3s both;
}
.da-slide-toright .da-img{
    -webkit-animation: toRightAnim4 0.6s ease-in both;
    -moz-animation: toRightAnim4 0.6s ease-in both;
    -o-animation: toRightAnim4 0.6s ease-in both;
    -ms-animation: toRightAnim4 0.6s ease-in both;
    animation: toRightAnim4 0.6s ease-in both;
}


.da-slide-toright .fac-links{
    -webkit-animation: toRightAnim5 0.6s ease-in 0.3s both;
    -moz-animation: toRightAnim5 0.6s ease-in 0.3s both;
    -o-animation: toRightAnim5 0.6s ease-in 0.3s both;
    -ms-animation: toRightAnim5 0.6s ease-in 0.3s both;
    animation: toRightAnim5 0.6s ease-in 0.3s both;
}

/*-------------------------------------*/

@-webkit-keyframes toRightAnim1{
    0%{ top: -4%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
    0%{ top: 0%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
    0%{ top: 8%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 5%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}

@-webkit-keyframes toRightAnim5{
    0%{ top: 33%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}

/*-------------------------------------*/

@-moz-keyframes toRightAnim1{
    0%{ top: -4%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
    0%{ top: 0%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
    0%{ top: 8%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 5%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim5{
    0%{ top: 33%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}


/*-------------------------------------*/

@-o-keyframes toRightAnim1{
    0%{ top: -4%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
    0%{ top: 0%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
    0%{ top: 8%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 5%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim5{
    0%{ top: 33%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}




/*-------------------------------------*/

@-ms-keyframes toRightAnim1{
    0%{ top: -4%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
    0%{ top: 0%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
    0%{ top: 8%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 5%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim5{
    0%{ top: 33%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}

/*-------------------------------------*/

@keyframes toRightAnim1{
    0%{ top: -4%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
    0%{ top: 0%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
    0%{ top: 8%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 5%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}

@keyframes toRightAnim5{
    0%{ top: 33%;  opacity: 1; }
    100%{ top: 100%; opacity: 0; }
}

/*-------------------------------------*/









/* Slide out to the top*/


.da-slide-toleft h2{
    -webkit-animation: toLeftAnim1 0.6s ease-in both;
    -moz-animation: toLeftAnim1 0.6s ease-in both;
    -o-animation: toLeftAnim1 0.6s ease-in both;
    -ms-animation: toLeftAnim1 0.6s ease-in both;
    animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft .obj-one{
    -webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
    -moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
    -o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
    -ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
    animation: toLeftAnim2 0.6s ease-in 0.3s both;
}


.da-slide-toleft .da-link{
    -webkit-animation: toLeftAnim3 0.6s ease-in 0.3s both;
    -moz-animation: toLeftAnim3 0.6s ease-in 0.3s both;
    -o-animation: toLeftAnim3 0.6s ease-in 0.3s both;
    -ms-animation: toLeftAnim3 0.6s ease-in 0.3s both;
    animation: toLeftAnim3 0.6s ease-in 0.3s both;
}
.da-slide-toleft .da-img{
    -webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
    -moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
    -o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
    -ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
    animation: toLeftAnim4 0.6s ease-in 0.6s both;
}

.da-slide-toleft .fac-links{
    -webkit-animation: toLeftAnim5 0.6s ease-in 0.3s both;
    -moz-animation: toLeftAnim5 0.6s ease-in 0.3s both;
    -o-animation: toLeftAnim5 0.6s ease-in 0.3s both;
    -ms-animation: toLeftAnim5 0.6s ease-in 0.3s both;
    animation: toLeftAnim5 0.6s ease-in 0.3s both;
}


/*-------------------------------------*/



@-webkit-keyframes toLeftAnim1{
    0%{ top: -4%;  opacity: 1; }
    30%{ top: 0%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 15%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
    0%{ top: 8%;  opacity: 1; }
    30%{ top: 20%; opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
    0%{ top: 0%;  opacity: 1; }
    40%{ top: 30%;  opacity: 1; }
    90%{ top: -30%;  opacity: 0; }
    100%{ top: -60%; opacity: 0; }
}

@-webkit-keyframes toLeftAnim5{
    0%{ top: 33%;  opacity: 1; }
    30%{ top: 57%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}

/*-------------------------------------*/


/* this is where I left off */

@-moz-keyframes toLeftAnim1{
    0%{ top: -4%;  opacity: 1; }
    30%{ top: 0%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 15%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
    0%{ top: 8%;  opacity: 1; }
    30%{ top: 20%; opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
    0%{ top: 0%;  opacity: 1; }
    40%{ top: 30%;  opacity: 1; }
    90%{ top: -30%;  opacity: 0; }
    100%{ top: -60%; opacity: 0; }
}

@-moz-keyframes toLeftAnim5{
    0%{ top: 33%;  opacity: 1; }
    30%{ top: 57%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}

/*-------------------------------------*/

@-o-keyframes toLeftAnim1{
    0%{ top: -4%;  opacity: 1; }
    30%{ top: 0%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 15%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
    0%{ top: 8%;  opacity: 1; }
    30%{ top: 20%; opacity: 0; }
    100%{ top: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
    0%{ top: 0%;  opacity: 1; }
    40%{ top: 30%;  opacity: 1; }
    90%{ top: -30%;  opacity: 0; }
    100%{ top: -60%; opacity: 0; }
}

@-o-keyframes toLeftAnim5{
    0%{ top: 33%;  opacity: 1; }
    30%{ top: 57%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}

/*-------------------------------------*/

@-ms-keyframes toLeftAnim1{
    0%{ top: -4%;  opacity: 1; }
    30%{ top: 0%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 15%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
    0%{ top: 8%;  opacity: 1; }
    30%{ top: 20%; opacity: 0; }
    100%{ top: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
    0%{ top: 0%;  opacity: 1; }
    40%{ top: 30%;  opacity: 1; }
    90%{ top: -30%;  opacity: 0; }
    100%{ top: -60%; opacity: 0; }
}

@-ms-keyframes toLeftAnim5{
    0%{ top: 33%;  opacity: 1; }
    30%{ top: 57%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}

/*-------------------------------------*/

@keyframes toLeftAnim1{
    0%{ top: -4%;  opacity: 1; }
    30%{ top: 0%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
    0%{ top: 0%;  opacity: 1; }
    30%{ top: 15%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
    0%{ top: 8%;  opacity: 1; }
    30%{ top: 20%; opacity: 0; }
    100%{ top: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
    0%{ top: 0%;  opacity: 1; }
    40%{ top: 30%;  opacity: 1; }
    90%{ top: -30%;  opacity: 0; }
    100%{ top: -60%; opacity: 0; }
}

@keyframes toLeftAnim5{
    0%{ top: 33%;  opacity: 1; }
    30%{ top: 57%;  opacity: 1; }
    100%{ top: -50%; opacity: 0; }
}

