body { margin:0; padding:0; color: #414141; background: #fff; border-top:1px solid #dadad8; width: 655px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height:160%; padding:10px 20px 20px 20px;  }

html { background: #e3e3e3; }

img { border: none; }

ul { list-style:none; }

h1 { font-family : Arial, Helvetica, sans-serif; font-size: 22px; color:#520063; font-weight:normal; padding:0; margin:0;}

h2 { font-family : Arial, Helvetica, sans-serif; font-size: 18px; color:#520063; font-weight:normal; padding:0 0 8px 0; margin:0; line-height:120%;}

h3 { font-family : Arial, Helvetica, sans-serif; font-size: 16px; color:#520063; font-weight:normal;  padding:0; margin:0;}

h4 { font-family :Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #707070; text-align:left; padding:0; margin:0; }

h5 { font-family : Arial, Helvetica, sans-serif; font-size: 14px; color:#520063; font-weight:normal; padding:0; margin:0;}

h6 { font-family : Arial, Helvetica, sans-serif; font-size: 12px; color:#520063; font-weight:normal; padding:0; margin:0;}

h1 { padding:0 0 8px 0; }

h5 a{ font-weight:normal; font-size: 14px; }

h2 a{ font-weight:normal; font-size: 18px; }

.inline-title { font-family : Arial, Helvetica, sans-serif; font-size: 14px; color:#520063; font-weight:normal; }

h5 a:hover{ text-decoration:underline;}

a {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: none; }


div.clear { clear: both; line-height:0; }

.horizontal-divide { border-bottom:1px solid #dadad8; width:655px; float:left; clear:both; margin-bottom:10px;}


.image-caption-full { font-family : Arial, Helvetica, sans-serif; font-style:italic; font-size: 11px; color:#520063; font-weight:normal; padding:5px; margin:-17px 0 0 0; float:left; clear:both; width:621px; display:block; border:1px solid #dadad8; }

.image-caption-horiz { font-family : Arial, Helvetica, sans-serif; font-style:italic; font-size: 11px; color:#520063; font-weight:normal; padding:5px; margin:-17px 0 0 0; float:right; clear:both; width:400px; display:block; border:1px solid #dadad8; }


.image-caption-vert { font-family : Arial, Helvetica, sans-serif; font-style:italic; font-size: 11px; color:#520063; font-weight:normal; padding:5px; margin:-17px 0 0 0; float:right; clear:both; width:300px; display:block; border:1px solid #dadad8; }

.border-dark-gray { border:1px solid #cccccc; }

.border-mid-gray { border:1px solid #e0e0e0; }

.border-light-gray-right { border:1px solid #f0f0f0; float:right; margin:0 0 15px 15px; }

.border-light-gray-left { border:1px solid #f0f0f0; float:left; margin:0 15px 15px 0; }

.border-dark-gray img { border:4px solid #fff; }

.border-light-gray-right-nm { border:1px solid #f0f0f0; float:right; margin:0 0 15px 0px; }



.border-light-gray2-left { border:1px solid #cacaca; float:left; margin:0 15px 5px 0; }

.border-dark-gray2 { border:1px solid #a3a3a3; }

.border-mid-gray2 { border:1px solid #bababa; }

.border-dark-gray2 img { border:4px solid #fff; }



.image-float-right { float:right; margin:0 0 15px 15px; }

.image-float-left { float:left; margin:0 15px 15px 0; }

.float-right-text { float: right; width:470px; }


table.curriculum {
    border-collapse:collapse;
    background-color: #fff;
    margin-bottom: 2em;
	text-align:left;
	float:left;
	clear:both;
}

table.curriculum td, table.curriculum th {
    border:1px solid #dadad8;
    padding: 4px;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
}

tr.quarter-title {
    background-color:#e8e8e6;
}

tr.curriculum-header {
		background-color:#f7f7f5;
}

ul.num-list {
	list-style:decimal;
	margin-left:20px;
	float:left;
	clear:both;
		
		
}


ul.matric-num-list {
	list-style:decimal;
	margin-left:20px;
	font-size:14px;
	color: #520063;
	line-height:160%;
	
		
}

ul.matric-disc-list {
	list-style:disc;
	margin-left:20px;
	font-size:12px;
	color: #414141;
	
	
}

ul.matric-num-list li { margin-bottom:8px; }


#conceptual-frame {  background:url("../images/new-msed-v-diagram.png") no-repeat left top; width:585px; height:600px; float:left; clear:both; margin:10px 0 0 40px;}


.vision-learn1 { float:left; width:240px; margin:55px 0 0 162px;   }

.vision-learn23 { float:left; width:220px; margin:95px 0 0 25px; padding-right:45px;   }

.vision-learn1 h5, #main-content .vision-learn23 h5 { padding-left:50px; }

ul.new-list-links { list-style: disc; color:#414141; margin-left:20px; }

ul.new-list-links a { font-size:14px; font-weight:normal; line-height:160%; }

.msed-pdf { width:200px; float:left; padding:0 0 0  10px; }


.msed-home-three-links { float:left; width:203px; border:1px solid #dadad8; margin-right:20px;  margin-bottom:20px;   }

.msed-home-three-links-right { float:right; width:203px; border:1px solid #dadad8; margin-bottom:20px;  }

.msed-home-linkcontent { float:left; clear:both; border-top:1px solid #dadad8; width:193px; padding:5px;  background:url("../images/msed-home-link-back.jpg") repeat-x left top; min-height:180px; position:relative;}

.msed-home-linkcontent img { margin-left:-5px; position:absolute; bottom:5px; left:4px; }

#higher-ed-homeback { float:left; clear:both; width:355px; min-height:285px; background:url("../images/higher-ed-arrowbanner2.jpg") no-repeat left top;  padding:10px 15px 10px 285px; margin-top:5px; }



.top-blue-contain { background:url(../images/msed-new-bluetop.png) no-repeat left top; height:35px;  margin-left:-20px; width:695px; float:left; clear:both;  }


.mid-blue-contain { background-color:#0c93b5; margin-left:-20px; width:665px; float:left; clear:both; padding: 3px 10px 0 20px; }

.mid-blue-contain img { float:left; margin-right:10px; }

.horizontal-divide-white { border-bottom:1px solid #50b1ca; width:655px; float:left; clear:both; margin-bottom:10px; height:10px; }


.bottom-blue-contain { background:url(../images/msed-new-bluebottom.png) no-repeat left top; height:30px;  margin-left:-20px; width:695px; float:left; clear:both;  }

.mid-blue-contain h2, .mid-blue-contain h5 { color:#fff; line-height:120%;  }

.mid-blue-contain  { color:#ececea; }

.mid-blue-contain h3 { color:#fff; font-size:22px; line-height:120%; }


.msloc-resource-head a { display:block; text-align:center; font-weight:normal; font-size: 15px; }

ul.msed-list { list-style: disc; padding:0 0 0 40px; color:#414141; font-size:13px;  }


.msed-program ul { list-style: disc; padding:0 20px 0 30px; color:#414141; font-size:12px; float:left; width:150px;  }


.msed-program ul li ul {list-style: circle; padding:0 0 0 10px;  color:#414141; font-size:12px; margin:0px; }

.msed-program { border:1px solid #dadad8; background-color:#f7f7f7; padding:10px; margin:0 0 10px 0; float:left; width:633px;  }