div.quick ul#menu li a { color: #3f0b49; font-family :Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; padding:3px 0 3px 28px; }

div.quick ul#menu li a:hover {  font-family :Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #931aaa;  }

div.quick ul#menu li a.active {  } 


div.quick ul#menu li ul li a { background: #69216c; color: #ffffff; border-bottom:1px solid #7f2883; padding: 1px 0 1px 10px; font-size: 9px;  }

div.quick ul#menu li ul li a:hover { background: #7f2883; color: #ffffff; }

#attribution { position: relative;  font-size:11px; float:none; clear:none; margin:0; }

#attribution a { font-size:11px;  }


#main-title span#program-heading { font-family:Arial, Helvetica, sans-serif !important  }





