div.quick ul#menu li a { background: url(../images/quick_links_back_left.png) top left no-repeat;  color: #3f0b49; font-family :Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; padding:3px 0 3px 28px; }

div.quick ul#menu li a:hover {  font-family :Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #931aaa;  }

div.quick ul#menu li a.active { background: url(../images/quick_links_back.png) top left no-repeat;  } 

