body { 
    background: none; 
    margin:0; 
    padding:0; 
    font-family: Helvetica, Arial, sans-serif; font-weight:normal; 
    font-size:12px; 
    color:#666;  
    line-height:160%;
 }


img { border:none; }

p { padding: 5px; margin:0; }


.header {  background: none; margin:0 auto; padding:0; width:100%; min-height: 168px; border-bottom: 1px solid #dadad8;
padding: 20px 0; text-align:center; }

.header #no-head-back { background: url(../images/inquiry/2010-spring/drop-shadow.jpg) repeat-none; height:140px;  }



/* BACKGROUND HEADER IMAGES */

.background-fall-2013 { background: url(../images/inquiry/2013-fall/fall-2013-back.jpg) repeat-x !important; height:140px;  }

.background-spring-2014 { background: url(../images/inquiry/2014-spring/sub/spring-2014-back2.jpg) repeat-x !important; height:140px;  }

.background-fall-2014 { background: url(../images/inquiry/2014-fall/fall-2014-inquiry-back-head.jpg) repeat-x !important; height:140px;  }

.background-spring-2015 { background: url(../images/inquiry/2015-spring/spring-2015-inquiry-head-back.jpg) repeat-x !important; height:140px;  }

/* BACKGROUND HEADER IMAGES */


#no-border img { border:none;  }

/* NAVIGATION */


#navigation {  text-align:center;  list-style:none; }



#navigation li { float: left; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:14px; color:#520063; margin:10px 0px 20px 5px; display:inline; border-right:1px solid #520063; padding-right:5px; }

#navigation li a { display:block; padding:5px; text-decoration:none; text-align:center; color:#520063;  }

#navigation li a:hover { text-decoration: none; background-color:#d6ed57; }



#navigation li ul { margin: 0; padding: 0; position: absolute; visibility: hidden; z-index:5; background: #d9f8a2; }

#navigation li ul li { float: none; display: block; margin:3px; padding: 0; border:1px solid #fff; }

#navigation li ul li a { width: auto; background: #d6ed57; color:#05728c; padding:10px; margin:0; text-align:left; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:11px; }

#navigation li ul li a:hover { background: #f8ffba; }

#navigation li.noborder { border:none; }



/* MAIN CONENT */

h1 { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:25px; color:#05728c; padding:0; margin:0; text-transform:uppercase; }

h2 { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:23px; color:#05728c; padding:0; margin:0; text-transform:uppercase; display:block; float:left;}

h3 { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:16px; color:#05728c; padding:0; margin:10px 0 0 0; text-transform:uppercase; }

h3 a { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:16px; color:#05728c; padding:0; margin:10px 0 0 0; text-transform:uppercase; text-decoration:none; }

h4 { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:14px; color:#05728c; padding:5px 0 0 5px; margin:0; text-transform:uppercase; }

h4 a { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:14px; color:#05728c; padding:5px 0 0 5px; margin:0; text-transform:uppercase;  text-decoration:none; }

h3 a:hover, h4 a:hover { text-decoration:underline;  }

h5 { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:13px; color:#05728c; padding:0; margin:0 0 5px 0; text-transform:uppercase; }

h6 { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:16px; color:#05728c; padding:0; margin:0;}

.small-header { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:14px; color:#05728c; padding:0; margin:0;  }

.padbottom { padding-bottom:5px; }


.slide-caption a { display:block; width:608px; height:15px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:14px; color:#05728c; padding:0 5px 5px 5px; text-decoration:none;  }

.slide-caption a:hover { background-color:#f8ffba;  }

#main-content-cont { float:left; clear:both; width:960px; }

#box-link-container { float:left; clear:both; width:960px; }

#page-title { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:18px; color:#05728c; padding:5px 0 0 0; margin:0; text-transform:uppercase; display:block; float:right; }




.search { background-color:#D6ED57; height:50px;  }

#search-input { float:left; height:25px; width:258px; padding:0; margin:0;}

#searchsubmit { margin-top:2px; padding-left:15px; float:left;}

fieldset { border:none; padding:0; margin:0;  }

input { padding:0; margin-top:4px; float:left;  }



.leftwell { background-color:#D6ED57; margin-top:20px; }

.date { height:40px; width:640px; padding:10px 0 0 0px; display:inline; float:left; position:relative; margin:0 10px 0 10px; border-bottom:1px solid #05728c; }

.home-slide { background-color:#D6ED57; margin:20px 0 0 0; float:left; min-height:443px; }

.slide-caption { width:618px; margin:2px; border:1px solid #fff; padding:5px; height:137px; float:left; }

.main-horz-divide { width:618px; float:left; border-bottom:1px solid #fff; padding-top:5px; margin-bottom:12px; }

.horz-divide-blue { width:640px; float:left; border-bottom:1px solid #05728c; padding-top:8px; margin-bottom:15px; clear:both; }

.horz-divide-white { width:618px; float:left; border-bottom:1px solid #fff; padding-top:8px; margin-bottom:15px; clear:both; }

.top-divide-blue { width:640px; float:left; border-bottom:1px solid #05728c; padding-top:10px; margin-bottom:5px; clear:both; }



.search-inner { width:258px; margin:2px; border:1px solid #fff; padding:8px; height:28px; float:left; }

.leftwell-inner { width:258px; margin:2px; border:1px solid #fff; padding:8px; min-height:421px;  }

.home-slide-inner { width:634px; margin:2px; border:1px solid #fff; float:left; }


.leftwell-inner img, .sub-leftwell-inner img { border:2px solid #fff; float:left; margin:0 15px 10px 0;}

.read-more { float:right; margin-bottom:5px; position:absolute; right:10px; bottom:2px; }

.read-more img { border:none; float:left; margin:0; padding:4px 3px 0 0; }

.read-more a { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:14px; color:#05728c; text-decoration:none;}

.read-more a:hover { text-decoration:none; color:#38b5bd; }


.read-more-slide { float:right; margin-bottom:5px; }

.read-more-slide img { border:none; float:left; margin:0; padding:4px 3px 0 0; }

.read-more-slide a { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:14px; color:#05728c; text-decoration:none;}

.read-more-slide a:hover { text-decoration:none; color:#38b5bd; }



.box-links { background-color:#84ECFF; margin-top:20px; float:left; min-height:106px; }

.box-links-inner { float:left; width:214px; margin:2px; border:1px solid #fff; height:78px;}

.box-links-inner a { display:block; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:14px; color:#05728c; text-decoration:none; }

.box-links-inner:hover {  background-color:#c3fdff; text-decoration:none; color:#38b5bd; display:block; width:214px;  height:78px; cursor:pointer; }


.box-title-links { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif; font-weight: 300; font-size:12px; color:#666; text-decoration:none; padding:4px; display:block; }



/* SUB PAGE STYLES */


.sub-main { margin-top: 19px;  }

.sub-main img { border: 1px solid #05728c; margin-top:4px; }

.sub-main p { padding:10px 0 10px 0;  }

.float-left img { float:left; margin:0 15px 10px 0; }

.float-right img { float:right; margin:0 0 10px 15px; }

.sub-main .float-left { float:left;  }

.sub-main .float-right { float:right; }

.sub-main-caption {  background-color:#05728c; margin-bottom:10px; padding:2px; float:left; width:638px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-style:italic; font-size:12px; color:#fff; clear:both;}

.sub-main-caption-inner { width:626px; border:1px solid #fff; float:left; padding:5px; }

.sub-main-alt { background-color:#d6ed57; float:left; width:640px; }

.sub-main-alt img { border:1px solid #fff; }

.sub-main-alt-inner { margin:2px; border:1px solid #fff; padding:8px; }

.sub-left-divide-long { float:left; width:256px; border-bottom: 1px solid #fff; margin:3px 0 10px 0; clear:both; }

.sub-left-divide-short { float:left; width:110px; border-bottom: 1px solid #fff; margin:5px 0 5px 0; }


.sub-leftwell { background-color:#d6ed57; margin-top:20px; float:left; }


.sub-leftwell-inner { width:258px; margin:2px; border:1px solid #fff; padding:8px; }


.sub-leftwell-inner-connect { width:274px; margin:2px; border:1px solid #fff; height:120px; }

.sub-leftwell-inner-connect img { float:left; padding:6px 0 0 7px}

.sub-leftwell-inner h2 { padding-left:5px;}


.sub-main h2 { padding-left:0;  }

.sub-leftwell-inner h3 { padding-left:5px;  }

.photo-by { font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-style:italic; font-size:11px; color:#05728c; float:right; padding-top:3px; display:block; text-align:right; }

.photo-by-left { font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-style:italic; font-size:11px; color:#05728c; display:block; clear:both; position:relative; bottom:8px; }

.photo-by-right { font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-style:italic; font-size:11px; color:#05728c; display:block; clear:both; padding-left:15px; position:relative; bottom:8px;}





/* FOOTER */

.footer { width:100%; height:120px; margin:20px 0 0 0; padding:0; background: url(../images/inquiry/2010-spring/drop-shadow-footer.jpg) repeat-x scroll center top; }

.footer ul { margin:0 auto; list-style:none; padding:20px 0 8px 0; text-align:center; }

.footer ul li { display:inline; margin:0 auto; border-right:1px solid #520063; }

.footer ul li.removeborder { border:none; }

.footer ul li a { font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size:11px; color:#520063; text-decoration:none; padding:5px 8px 5px 5px; text-decoration: none; }

.footer ul li a:hover {  text-decoration: underline; }

.footer span { color:#520063; padding:0px 7px 0 7px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size:13px; line-height:23px; }


.footer p { font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size:11px; color:#520063; text-align:center; }

.footer p a {  font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size:11px; color:#520063;  text-decoration:none; }

.footer p a:hover { text-decoration: underline; }


/* HOMEPAGE SLIDER */

#slider{}   

#slider ul, #slider li { margin:0; padding:0; list-style:none; }

#slider li { width:633px; height:437px; overflow:hidden; }  


#prevBtn, #nextBtn {  display:block; width:36px; height:54px; position:absolute; left:3px; top:111px; } 

#nextBtn { left:600px; }    


#prevBtn a { display:block; width:36px; height:54px; text-indent:-1500px; color:#fff; outline: none; background:url(../images/inquiry/2010-spring/btn-prev-roll.png)  no-repeat center bottom; overflow:hidden; display:block; }

#prevBtn a:hover { background-position: 0 0px; }
    

#nextBtn a { display:block; width:36px; height:54px; text-indent:-1500px; color:#fff; outline: none; background:url(../images/inquiry/2010-spring/btn-next-roll.png) no-repeat center bottom; overflow:hidden; display:block; }

#nextBtn a:hover { background-position: 0 0px; }

.photo-by-right-new { font-family: Helvetica,Arial,sans-serif;
font-weight: normal;
font-style: italic;
font-size: 11px;
color: #05728C;
display: block;
clear: both;
position: relative;
bottom: 8px;  
width:320px;
float: right;
}

.photo-by-left-new { font-family: Helvetica,Arial,sans-serif;
font-weight: normal;
font-style: italic;
font-size: 11px;
color: #05728C;
display: block;
clear: both;
position: relative;
bottom: 8px;  
width:320px;
float: left; }








/* 960 GRID STYLES */

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px}


.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px;}

.container_12 .grid_3,.container_16 .grid_4{width:220px}

.container_12 .grid_6,.container_16 .grid_8{width:460px}

.container_12 .grid_9,.container_16 .grid_12{width:700px}

.container_12 .grid_12,.container_16 .grid_16{width:940px; }

.alpha{margin-left:0}.omega{margin-right:0}



.container_16 .grid_1{width:40px}

.container_16 .grid_2{width:100px}

.container_16 .grid_3{width:190px} /*-- EDITED PIXELS IN GRID FROM 160px to 180px --*/

.container_16 .grid_5{width:280px}

.container_16 .grid_6{width:340px}

.container_16 .grid_7{width:400px}

.container_16 .grid_9{width:520px}

.container_16 .grid_10{width:580px}

.container_16 .grid_11{width:640px}



.container_16 .grid_13{width:760px}

.container_16 .grid_14{width:820px}

.container_16 .grid_15{width:880px}

ul.grid_3 { padding:0 0 0 22px; margin:0;  }


.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

#slider li {
    height: 477px;
    margin-top:-40px;
}
