/*
Theme Name : Mega Menu Complete Set
Item URI : http://codecanyon.net/item/mega-menu-complete-set/152825
Author URI : http://codecanyon.net/user/Pixelworkshop
Version : 2.1
*/

/*

TABLE OF CONTENTS

01 MENU BAR
02 DROP DOWN COMMON CONTAINER
03 DROP DOWN SPECIFIC CONTAINERS
04 COLUMNS GRID
05 DROP DOWN TYPOGRAPHY
06 COLORS
07 VERTICAL VARIANT

*/



/*  _____________________________________________________________________________

    01 MENU BAR
    _____________________________________________________________________________  */



.megamenu_container {
    width:96%;
    height:44px;
    margin:0 auto;
    position: relative;
    background-color:#790091;
    float:left;
    z-index:7000;
}
.megamenu {
    list-style:none;
    z-index:9999;
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    line-height:1;
}
    .megamenu li {
        float:left;
        line-height:86%;
        border:none;
        
    }
    
    .megamenu li.fr { float:right; }
    
        .megamenu li:hover, .active {
            background:#380044;
        }
        
    
        
        .megamenu li.noactive {
            background:none;
        }
        .megamenu li a {
            font-size:12px;
            color:#FFFFFF;
            text-transform:uppercase;
            text-shadow:1px 1px 1px #000000;
            outline:0;
            font-weight:normal;
            text-decoration:none;
            display:block;
            text-align:center;
        }
        .megamenu li:hover a {
            color:#FFFFFF;
            text-shadow:1px 1px 1px #000000;
        }
        .megamenu li .drop {
    
            text-align:center;
            border-right:1px solid #580069; 
            border-left:1px solid #ae00d0;
            padding: 16px 0;
            width:133px;
        }
        
        .megamenu li .drop:last-child { width: 135px; border-right:none;  }
        
        
        
        
        
    
        
        



        /* Right aligned menu item */
        
        .megamenu li.right {
            float:right;
            margin-right:-1px;
        }
        .megamenu li.right a {
            margin-right:5px;
        }



/*  _____________________________________________________________________________

    02 DROP DOWN COMMON CONTAINER
    _____________________________________________________________________________  */



.megamenu li .dropcontent {
    margin:0 auto;
    position:absolute;
    left:-9999em;
    top:44px; /* Places the drop down under the menu bar */
    z-index:9998; /* For IE7 */
    padding:24px 0 10px 0;
    text-align:left;
    border:1px solid #1b1b1b;
    border-top:none;
    background:#161616;
    /* Rounded Corners */
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.megamenu li .dropfirst {
    margin:0 auto 0 -1px; /* Fixes a 1px issue for the 1st drop down */
}

/* Showing Drop Down on Mouse Hover - Left aligned */

.megamenu li:hover .dropcontent {
    left:auto;
}

/* Showing Drop Down on Mouse Hover - Right aligned */

.megamenu li .align_right {
    right:-1px;
}
.megamenu li:hover .align_right {
    left:auto;
    right:-1px;
}

/* Full width drop down */

.megamenu li .fullwidth {
    position: absolute;
    width: 950px;
    padding:14px 0 10px 0;
    left:-9999em;
    top:44px;
    display: block;
    z-index:9998;
    border-top:none;
    background:#380044;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    margin-left:1px;
    

}
.megamenu li:hover .fullwidth {
    left: auto;
right:0;
z-index:9998;
}



/*  _____________________________________________________________________________

    03 DROP DOWN SPECIFIC CONTAINERS
    _____________________________________________________________________________  */



.megamenu .drop1column {width: 80px;}
.megamenu .drop2columns {width: 160px;}
.megamenu .drop3columns {width: 240px;}
.megamenu .drop4columns {width: 320px;}
.megamenu .drop5columns {width: 400px;}
.megamenu .drop6columns {width: 480px;}
.megamenu .drop7columns {width: 560px;}
.megamenu .drop8columns {width: 640px;}
.megamenu .drop9columns {width: 720px;}
.megamenu .drop10columns {width: 800px;}
.megamenu .drop11columns {width: 880px;}
.megamenu .drop12columns {width: 960px;}



/*  _____________________________________________________________________________

    04 COLUMNS GRID
    _____________________________________________________________________________  */



.megamenu .col_1,
.megamenu .col_2,
.megamenu .col_3,
.megamenu .col_4,
.megamenu .col_5,
.megamenu .col_6,
.megamenu .col_7,
.megamenu .col_8,
.megamenu .col_9,
.megamenu .col_10,
.megamenu .col_11,
.megamenu .col_12 {
    float: left;
    display:inline;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.megamenu .col_1 {width:50px;}
.megamenu .col_2 {width:130px;}
.megamenu .col_3 {width:210px;}
.megamenu .col_4 {width:290px;}
.megamenu .col_5 {width:370px;}
.megamenu .col_6 {width:450px;}
.megamenu .col_7 {width:530px;}
.megamenu .col_8 {width:610px;}
.megamenu .col_9 {width:690px;}
.megamenu .col_10 {width:770px;}
.megamenu .col_11 {width:850px;}
.megamenu .col_12 {width:930px;}




/*  _____________________________________________________________________________

    05 DROP DOWN TYPOGRAPHY
    _____________________________________________________________________________  */



.megamenu p, 
.megamenu h1, 
.megamenu h2, 
.megamenu h3, 
.megamenu h4, 
.megamenu h5, 
.megamenu h6 {
    padding:0;
    margin:0;
    color:#FFFFFF;
    text-shadow: 1px 1px 1px #000;
}
.megamenu p {
    font-size:12px; 
    line-height:21px; 
    margin-bottom:18px;
}
.megamenu h1, 
.megamenu h2 {
    background:url("../img/menu_separator.jpg") bottom repeat-x;
    padding-bottom:12px;
}
.megamenu h1, 
.megamenu h2, 
.megamenu h3 {
    margin-bottom:18px;
}
.megamenu h4, 
.megamenu h5, 
.megamenu h6 {
    margin-bottom:12px;
}
.megamenu h1 {
    font-size:36px;
    line-height:36px;
}
.megamenu h2 {
    font-size:30px; 
    line-height:42px;
}
.megamenu h3 {
    font-size:28px; 
    line-height:28px;
}
.megamenu h4 {
    font-size:21px; 
    line-height:24px;
}
.megamenu h5 {
    font-size:18px; 
    line-height:28px;
}
.megamenu h6 {
    font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size:14px; 
    line-height:18px; 
    text-transform:uppercase;
}

/* Links */

.megamenu li .dropcontent a, 
.megamenu li .fullwidth a {
    text-transform:none;
    font-size:12px;
    display:block;
    padding:5px 10px;
}
.megamenu li .dropcontent a:hover, 
.megamenu li .fullwidth a:hover {
    padding:5px 10px;
}

/* Images & Boxes */

.megamenu li .black_box {
    background-color:#111111;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:6px 8px 6px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}
.megamenu .imgshadow {
    background:#000000;
    padding:4px;
    border:1px solid #222222;
    margin-top:5px;
    margin-bottom:18px;
    -webkit-box-shadow:0 0 5px #000000;
    -moz-box-shadow:0 0 5px #000000;
    box-shadow:0 0 5px #000000;
}
.megamenu .img_left {
    float:left;
    margin-right:12px;
}
.megamenu .img_right {
    float:right;
    margin-left:12px;
}

/* Lists */

.megamenu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
.megamenu li ul li {
    display:inline;
    font-size:12px;
    line-height:24px;
    position:relative;
    margin:0 20px 0 0;
    
    text-align:left;
    
    
}



.megamenu li ul li:hover {
    background-color:#58006a;  -moz-border-radius: 25px; border-radius: 25px; cursor:pointer; }

.megamenu li ul li.multi-level1:hover, .megamenu li ul li.multi-level2:hover  { background-color:transparent;  -moz-border-radius: 0; border-radius: 0;  }


.megamenu ul.list, 
.megamenu ul.list2, 
.megamenu ol.num, 
.megamenu ol.num2 {
    margin:0 0 18px 20px;
    padding:0;
}
.megamenu ul.list li, 
.megamenu ul.list2 li, 
.megamenu ol.num li, 
.megamenu ol.num2 li{
    padding:0 0 0 12px;
    line-height:24px;
}
.megamenu .list li {
    list-style:disc;
}
.megamenu .list2 li {
    list-style:square;
}
.megamenu .num li {
    list-style:decimal;
}
.megamenu .num2 li {
    list-style:upper-latin;
}

.megamenu li .dropcontent ul.list li a, 
.megamenu li .dropcontent ul.list2 li a, 
.megamenu li .dropcontent ol.num li a, 
.megamenu li .dropcontent ol.num2 li a,
.megamenu li .fullwidth ul.list li a, 
.megamenu li .fullwidth ul.list2 li a, 
.megamenu li .fullwidth ol.num li a, 
.megamenu li .fullwidth ol.num2 li a {
    color:#cccccc;
}
.megamenu li .dropcontent ul.list li a:hover, 
.megamenu li .dropcontent ul.list2 li a:hover, 
.megamenu li .dropcontent ol.num li a:hover, 
.megamenu li .dropcontent ol.num2 li a:hover,
.megamenu li .fullwidth ul.list li a:hover, 
.megamenu li .fullwidth ul.list2 li a:hover, 
.megamenu li .fullwidth ol.num li a:hover, 
.megamenu li .fullwidth ol.num2 li a:hover {
    color:#ffffff;
}

.megamenu ul.thumbnails li {
    margin-bottom:18px;
}

.megamenu ul.categories {
    background:url("../img/menu_separator.jpg") top repeat-x; 
}
.megamenu ul.categories li, 
.megamenu ul.categories li:hover {
    background:url("../img/menu_separator.jpg") bottom repeat-x; 
    padding:9px 0 9px 0;
}
.megamenu li .dropcontent ul.categories li a,
.megamenu li .fullwidth ul.categories li a {
    color:#cccccc;
}
.megamenu li .dropcontent ul.categories li a:hover,
.megamenu li .fullwidth ul.categories li a:hover {
    color:#ffffff;
}

/* Paragraphs with Icons */

.megamenu .calendar, 
.megamenu .note, 
.megamenu .help, 
.megamenu .delete, 
.megamenu .favorite, 
.megamenu .lock, 
.megamenu .archive, 
.megamenu .briefcase, 
.megamenu .search, 
.megamenu .user {
    padding-left:36px; 
    margin-bottom:18px;
}
.megamenu .calendar {background:url("../img/icons/calendar.png") no-repeat 0 5px}
.megamenu .note {background:url("../img/icons/note.png") no-repeat 0 5px}
.megamenu .archive {background:url("../img/icons/archive.png") no-repeat 0 5px}
.megamenu .search {background:url("../img/icons/search.png") no-repeat 0 5px}
.megamenu .help {background:url("../img/icons/help.png") no-repeat 0 5px}
.megamenu .delete {background:url("../img/icons/delete.png") no-repeat 0 5px}
.megamenu .favorite {background:url("../img/icons/favorite.png") no-repeat 0 5px}
.megamenu .lock {background:url("../img/icons/lock.png") no-repeat 0 5px}
.megamenu .briefcase {background:url("../img/icons/briefcase.png") no-repeat 0 5px}
.megamenu .user {background:url("../img/icons/user.png") no-repeat 0 5px}

/* Paragraphs with borders */

.megamenu .dark, 
.megamenu .brown, 
.megamenu .yellow, 
.megamenu .red, 
.megamenu .blue, 
.megamenu .green {
    padding-left:15px; 
    color:#cccccc; 
    margin-bottom:18px;
}
.megamenu .dark {border-left:#3B3B3B solid 7px}
.megamenu .brown {border-left:#8D8767 solid 7px}
.megamenu .yellow {border-left:#DBA742 solid 7px}
.megamenu .red {border-left:#C05D48 solid 7px}
.megamenu .blue {border-left:#52878B solid 7px}
.megamenu .green {border-left:#B0BD85 solid 7px}

/* Tables */

.megamenu .table_light, 
.megamenu .table_dark {
    width:100%;
    padding:0;
    margin:6px 0 18px 0;
    font-size:12px;
}
.megamenu .table_light th, 
.megamenu .table_dark th {
    text-align:left; 
    padding:12px 9px 12px 9px; 
    font-weight:bold; 
    font-size:12px;
}
.megamenu .table_light {
    border:1px solid #cbcbcb;
    border-bottom:none;
}
    .megamenu .table_light th {
        color:#3A3A3A; 
        border-bottom:1px solid #cbcbcb; 
        background:#F5F5F5;
    }
    .megamenu .table_light td {
        border-bottom:1px solid #cbcbcb; 
        background:#fff; 
        padding:12px 9px 12px 9px; 
        color:#888;
    }

.megamenu .table_dark {
    border:1px solid #000; 
    border-bottom:none;
}
    .megamenu .table_dark th {
        color:#FFF; 
        border-bottom:1px solid #000; 
        background:#0D0D0D;
    }
    .megamenu .table_dark td {
        border-bottom:1px solid #000; 
        background:#0F0F0F; 
        padding:12px 9px 12px 9px; 
        color:#DDD;
    }

/* Form Elements */

.megamenu form {
    font-size:12px; 
    margin:0; 
    padding:0; 
    width:100%;
}
.megamenu legend, 
.megamenu label {
    font-size:12px;
    letter-spacing:1px;
    text-transform:uppercase;
}
.megamenu input, 
.megamenu textarea, 
.megamenu select {
    font-family:Arial,Helvetica,sans-serif; 
    font-size:12px; 
    padding:5px; 
    margin:5px 0 5px 0; 
    background:#f5f5f5; 
    border:1px solid #ddd; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px; 
}
.megamenu .radio, 
.megamenu .checkbox, 
.megamenu .radio:hover, 
.megamenu .checkbox:hover {
    background:none; 
    border:none;
}
.megamenu select {
    width:260px;
}
.megamenu textarea {
    width:360px;
    height:110px;
}
.megamenu input:hover, 
.megamenu textarea:hover {
    border:1px solid #ccc;
}
.megamenu textarea:hover {
    border:1px solid #BBB;
}
.megamenu .button {
    margin-right:18px;
    padding:4px;
}

/* Dropcap */

.megamenu .dropcap {
    display:block; 
    float:left; 
    font-size:42px; 
    line-height:36px; 
    margin:2px 8px 0 0;
}

.megamenu .blackbg {
    background:#000000;
}



/*  _____________________________________________________________________________

    06 COLORS
    _____________________________________________________________________________  */



/* Blue */

.menu_blue {
    background-color:#536987;
}
.menu_blue .megamenu li .dropcontent a, 
.menu_blue .megamenu li .fullwidth a {
    color:#6a82a3;
}
.menu_blue .megamenu li .dropcontent a:hover, 
.menu_blue .megamenu li .fullwidth a:hover {
    color:#536987;
}

/* Brown */

.menu_brown {
    background-color:#866e56;
}
.menu_brown .megamenu li .dropcontent a, 
.menu_brown .megamenu li .fullwidth a {
    color:#a1886e;
}
.menu_brown .megamenu li .dropcontent a:hover, 
.menu_brown .megamenu li .fullwidth a:hover {
    color:#866e56;
}

/* Cherry */

.menu_cherry {
    background-color:#ab2d5c;
}
.menu_cherry .megamenu li .dropcontent a, 
.menu_cherry .megamenu li .fullwidth a {
    color:#cc3f73;
}
.menu_cherry .megamenu li .dropcontent a:hover, 
.menu_cherry .megamenu li .fullwidth a:hover {
    color:#ab2d5c;
}

/* Coffee */

.menu_coffee {
    background-color:#7b675c;
}
.menu_coffee .megamenu li .dropcontent a, 
.menu_coffee .megamenu li .fullwidth a {
    color:#978073;
}
.menu_coffee .megamenu li .dropcontent a:hover, 
.menu_coffee .megamenu li .fullwidth a:hover {
    color:#7b675c;
}

/* Green */

.menu_green {
    background-color:#788951;
}
.menu_green .megamenu li .dropcontent a, 
.menu_green .megamenu li .fullwidth a {
    color:#93a568;
}
.menu_green .megamenu li .dropcontent a:hover, 
.menu_green .megamenu li .fullwidth a:hover {
    color:#788951;
}

/* Grey */

.menu_grey {
    background-color:#6a6a6a;
}
.menu_grey .megamenu li .dropcontent a, 
.menu_grey .megamenu li .fullwidth a {
    color:#8c8c8c;
}
.menu_grey .megamenu li .dropcontent a:hover, 
.menu_grey .megamenu li .fullwidth a:hover {
    color:#6a6a6a;
}

/* Ocean */

.menu_ocean {
    background-color:#528a8f;
}
.menu_ocean .megamenu li .dropcontent a, 
.menu_ocean .megamenu li .fullwidth a {
    color:#6aa5aa;
}
.menu_ocean .megamenu li .dropcontent a:hover, 
.menu_ocean .megamenu li .fullwidth a:hover {
    color:#528a8f;
}

/* Orange */

.menu_orange {
    background-color:#e34f00;
}
.menu_orange .megamenu li .dropcontent a, 
.menu_orange .megamenu li .fullwidth a {
    color:#ff6717;
}
.menu_orange .megamenu li .dropcontent a:hover, 
.menu_orange .megamenu li .fullwidth a:hover {
    color:#e34f00;
}

/* Pink */

.menu_pink {
    background-color:#d50065;
}
.menu_pink .megamenu li .dropcontent a, 
.menu_pink .megamenu li .fullwidth a {
    color:#ff097d;
}
.menu_pink .megamenu li .dropcontent a:hover, 
.menu_pink .megamenu li .fullwidth a:hover {
    color:#d50065;
}

/* Purple */

.menu_purple {
    background-color:#68449a;
}
.menu_purple .megamenu li .dropcontent a, 
.menu_purple .megamenu li .fullwidth a {
    color:#815ab7;
}
.menu_purple .megamenu li .dropcontent a:hover, 
.menu_purple .megamenu li .fullwidth a:hover {
    color:#68449a;
}

/* Red */

.menu_red {
    background-color:#b82323;
}
.menu_red .megamenu li .dropcontent a, 
.menu_red .megamenu li .fullwidth a {
    color:#d83636;
}
.menu_red .megamenu li .dropcontent a:hover, 
.menu_red .megamenu li .fullwidth a:hover {
    color:#b82323;
}

/* Tan */

.menu_tan {
    background-color:#837361;
}
.menu_tan .megamenu li .dropcontent a, 
.menu_tan .megamenu li .fullwidth a {
    color:#9c8c7b;
}
.menu_tan .megamenu li .dropcontent a:hover, 
.menu_tan .megamenu li .fullwidth a:hover {
    color:#837361;
}

/* Yellow */

.menu_yellow {
    background-color:#caa616;
}
.menu_yellow .megamenu li .dropcontent a, 
.menu_yellow .megamenu li .fullwidth a {
    color:#e8c22c;
}
.menu_yellow .megamenu li .dropcontent a:hover, 
.menu_yellow .megamenu li .fullwidth a:hover {
    color:#caa616;
}



/*  _____________________________________________________________________________

    07 VERTICAL VARIANT
    _____________________________________________________________________________  */



.megamenu_container_vertical {
    width:140px;
    float:left;
    position: relative;
    border:solid 1px #000000;
    background-image:url("../img/bg.png");
}
    .megamenu_container_vertical .megamenu li {
        margin:0;
        width:140px;
    }
        .megamenu_container_vertical .megamenu li .drop {
            padding-right:30px;
            background:url("../img/right.png") no-repeat right center;
        }
        .megamenu_container_vertical .megamenu li.right {
            float:left;
            margin-right:auto;
        }
        .megamenu_container_vertical .megamenu li.right a {
            margin-right:auto;
        }

.megamenu_container_vertical .megamenu li .dropcontent,
.megamenu_container_vertical .megamenu li .fullwidth {
    margin:-44px auto 0 140px;
    top:auto;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
}
.megamenu_container_vertical .megamenu li .dropfirst {
    margin:-45px auto 0 140px; /* Fixes a 1px issue for the 1st drop down */
}
.megamenu_container_vertical .megamenu li .align_right {
    right:auto;
}
.megamenu_container_vertical .megamenu li:hover .align_right {
    left:auto;
    right:auto;
}
.megamenu_container_vertical .megamenu .levels li:hover ul ul,
.megamenu_container_vertical .megamenu .levels li:hover ul ul ul {
    left: -999em;
}
.megamenu_container_vertical .megamenu .levels li:hover ul {
    left: 130px;
}
.megamenu_container_vertical .megamenu .levels li li:hover ul,
.megamenu_container_vertical .megamenu .levels li li li:hover ul {
    left: 130px;
}


/* Multilevel */




.megamenu ul li.multi-level1 a, .megamenu ul li.multi-level2 a {  display:block; text-align:left; padding-left:5px; margin-right:20px; }

.megamenu ul li.multi-level1 a:hover, .megamenu ul li.multi-level2 a:hover { text-decoration:underline; padding-left:5px;  }


.megamenu ul li.multi-level1 li a, .megamenu ul li.multi-level2 li a, .megamenu ul li.multi-level3 a { display:block; text-align:left; padding:5px 10px;  }

.megamenu ul li.multi-level1 li a:hover, .megamenu ul li.multi-level2 li a:hover, .megamenu ul li.multi-level3 a:hover { padding:5px 10px; -moz-border-radius: 10px; border-radius: 10px; text-decoration:none; }


ul.megamenu ul li.multi-level1 { float:left; width:338px; padding-right:0; border-right:1px solid #58006a; margin-bottom:10px; min-height:230px; margin-right:0;}

ul.megamenu ul li.multi-level2 { float:left; width:266px; padding-right:0; padding-left:30px; border-right:1px solid #58006a; margin-right:30px; margin-bottom:10px; min-height:230px; }


ul.megamenu ul li.multi-level1 li, ul.megamenu ul li.multi-level2 li  { margin-left:0;  }


ul.megamenu ul li.multi-level1 a, ul.megamenu ul li.multi-level2 a { font-size:16px;  }

ul.megamenu ul li.multi-level1 li a, ul.megamenu ul li.multi-level2 li a {  font-size:12px;   }

ul.megamenu ul li.multi-level3 { width:230px; }

ul.megamenu ul li.multi-level1 li a { width:280px;  }

ul.megamenu ul li.multi-level2 li a { width:210px;  }

