#sidelinks {
margin-left:11px;
margin-top:6px;
padding:0;
position:relative;
width:201px;
}

#sidelinks a:hover {
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #003399;
text-decoration: none;
}

.siteName, siteName a {
color:#003366;
font-family:Copperplate,Arial Black,Blair MdITC,Geneva,Lucida Sans,Helvetica;
font-size:18px;
}

.subheader, subheader a, a:link, a:visited {
font-family: Charcoal CY, Arial Narrow, Arial, Helvetica, sans-serif;
font-size: 16px;
color: #003366;
}

#main-content a {
font-family: Gill Sans, Helvetica, Verdana, Arial, sans-serif;
font-size: 14px;
font-weight: normal;
color: #003399;
text-decoration: none;
}

#main-content a:hover {
font-family: Gill Sans, Helvetica, Verdana, Arial, sans-serif;
font-size: 14px;
font-weight: normal;
color: #0066cc;
text-decoration: none;
}

div#eventspage-list div.eventspage-title a:link {
font-family : Gill Sans,Helvetica,Verdana,Arial,sans-serif;
font-size: 14px;
font-weight: normal;
color: #003399;
text-decoration: none;
}

.rightmenuhover {
color: #003366;
}