#main-content .pagination {
    padding-left:0 !important;
}

#main-content .pagination li {
    float:none !important;
  
}

#main-content .pagination li a {
    width:9px !important;
    height:20px !important;
    padding-top:4px !important;
    background-image:none !important;

}