body { margin:0; padding:0; color: #414141; background: #e3e3e3; }

html { background: #e3e3e3; }

img { border: none; }

#wrap { width:990px; padding-left: 20px; margin:0 auto; background: url(../images/backgrounds/body_shadow1.jpg) top left repeat-y; height:100%; overflow:hidden; }

ul { list-style:none; }


h1 { font-family : Arial, Helvetica, sans-serif; font-size: 22px; color:#520063; font-weight:normal; padding:0; margin:0;}

h2 { font-family : Arial, Helvetica, sans-serif; font-size: 18px; color:#520063; font-weight:normal; padding:0; margin:0;}

h3 { font-family : Arial, Helvetica, sans-serif; font-size: 16px; color:#707070; font-weight:bold; padding:0; margin:0;}

h4 { font-family :Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #707070; text-align:left; padding:0; margin:0; }

h5 { font-family : Arial, Helvetica, sans-serif; font-size: 14px; color:#520063; font-weight:normal; padding:0; margin:0;}

h6 { font-family : Arial, Helvetica, sans-serif; font-size: 12px; color:#520063; font-weight:normal; padding:0; margin:0;}

#main-content h5 a{ font-weight:normal; font-size: 14px; }

#main-content h2 a{ font-weight:normal; font-size: 18px; }

.inline-title { font-family : Arial, Helvetica, sans-serif; font-size: 14px; color:#520063; font-weight:normal; }




/*--- BASIC CLASSES FLOATS - CLEARS - PADS ---*/

.flcb-pl20 { float:left; clear:both; padding-left:20px; }

div.clear { clear: both; line-height:0; }


.border-dark-gray { border:1px solid #cccccc; }

.border-mid-gray { border:1px solid #e0e0e0; }

.border-light-gray-right { border:1px solid #f0f0f0; float:right; margin:0 0 15px 15px; }

.border-light-gray-left { border:1px solid #f0f0f0; float:left; margin:0 15px 15px 0; }

.border-dark-gray img { border:4px solid #fff; }


.image-float-right { float:right; margin:0 0 15px 15px; }

.image-float-left { float:left; margin:0 15px 15px 0; }




/*--- SEARCH BOX ---*/

#topsection1 { width: 950px; height: 46px; float:left; background: #ccc url(../images/topnav/topsection1-background.png) top left repeat-x; }

#nu { width: 209px; height: 46px; float: left;}

#topnav { width: 700px; height: 29px; padding: 7px 0 0 0; float: right; }
	
#topsection2 { width: 950px; height: 33px; background: #ccc url(../images/topnav/topsection2-background.jpg) top left repeat-x; z-index: 10; float:left; clear:both; }

#sesp { width: 437px; height: 31px; float: left; top: 0px; left: 0px; }

#search { width: 360px; height: 31px; float: right; padding-top:4px; }

#searchform { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; padding-top: 2px; color: #414141; position: relative; float:left; width:324px;  }

#searchbutton { padding-top: 3px; position: absolute; right: 0; top: 0px; width: 21px; height:20px; }





/* son of suckerfish css menu styles */

#navigation { margin-top: 3px; margin-left: 10px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #ccc; position: relative; z-index: 80; }

#navigation a { font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #ccc; text-decoration: none; font-weight:normal; }

#navigation a:hover { font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; text-decoration: none; font-weight:normal; }


#nav, #nav ul { padding: 0; margin: 0; list-style: none; }

#nav { position: relative; }

#nav a { display: block; }

#nav li ul.navmenu li a { width: 130px; text-align: left; font-size: 10px; line-height: 14px; padding: 6px; background: #520063; -khtml-opacity: 0.85; opacity: 0.85; }

#nav li ul.navmenu li a:hover { background: #520063; -khtml-opacity: 0.85; opacity: 0.85; width: 130px; text-align: left; font-size: 10px; line-height: 14px; padding: 6px; }

#nav li { float: left; width: 142px; }

#nav>li>a { height:27px; }

#nav li ul li { border-top: 1px solid #999; }

#nav li ul { position: absolute; width: 210px; left: -1599px; margin-top: auto; margin-left: 0px; }

#nav li ul ul { margin: -27px 0 0 142px; }

#nav li:hover ul ul, #nav li.sfhover ul ul { left: -1599px; }

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { left: auto; }

#nav li.sfhover ul { margin-left: 0px; }

#nav li li.sfhover ul { margin-left: 142px; }

#nav li.sfhover a.subnav:link { font-size: 10px; line-height: 14px; }

#nav li.sfhover a.subnav:visited { font-size: 10px; line-height: 14px; }





/*-----NEW TOP NAV-----*/

#nav li.home { width: 54px; height:27px; background: url(../images/topnav/home.png) top left no-repeat; }

#nav li.home a:hover  { width: 54px; height:27px; background: url(../images/topnav/home-over.png) top left no-repeat; }

#nav li.about { width: 89px; background: url(../images/topnav/about.png) top left no-repeat; position: absolute; left: 60px; }

#nav li.about a:hover { background: url(../images/topnav/about-over.png) top left no-repeat; }

#nav li.programs { width: 176px; background: url(../images/topnav/programs.png) top left no-repeat; position: absolute; left: 151px; }

#nav li.programs a:hover { background: url(../images/topnav/programs-over.png) top left no-repeat; }

#nav li.people {width: 70px; background: url(../images/topnav/people.png) top left no-repeat; position: absolute; left: 327px; }

#nav li.people a:hover { background: url(../images/topnav/people-over.png) top left no-repeat; }

#nav li.research { width: 89px; background: url(../images/topnav/research.png) top left no-repeat; position: absolute; left: 397px; }

#nav li.research a:hover { background: url(../images/topnav/research-over.png) top left no-repeat; }

#nav li.news { width: 115px; background: url(../images/topnav/news.png) top left no-repeat; position: absolute; left: 486px; }

#nav li.news a:hover { background: url(../images/topnav/news-over.png) top left no-repeat; }

#nav li.contact { width: 77px; background: url(../images/topnav/contact.png) top left no-repeat; position: absolute; left: 601px; }

#nav li.contact a:hover { background: url(../images/topnav/contact-over.png) top left no-repeat; }




/*-- BREAD CRUMB --*/

#breadcrumb { width:685px; min-height:21px; border-bottom:1px solid #DADAD8; float:left; font-family : Arial, Helvetica, sans-serif; font-size:10px; color:#414141; padding:6px 0 6px 10px;  background:url(../images/topnav/topsection2-background.jpg) repeat-x left top transparent; background-color:#c3c3c3; line-height:160%}

#breadcrumb a { font-size: 11px; font-weight:normal; color:#520063; text-decoration:none; }

#breadcrumb a:hover {text-decoration:underline; }



/*--- MAIN CONTENT WELL ON ALL SUB PAGES ---*/


#main { float:left; clear:both; width:928px; padding:10px 10px 10px 12px; background-color: #fff; }

#main-title { width: 675px; float:left; padding:5px 10px 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 22px; color:#520063;  background: url(../images/backgrounds/mainwell_back.jpg) top left repeat-y; }

#main-title img{ position:relative; left:-10px; top:-5px; margin-bottom:-10px; }

#main-content {
	border-top:1px solid #dadad8; 
	width: 655px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	line-height:160%; 
	color: #414141;  
	float:left; 
	clear:both; 
	background: url(../images/backgrounds/mainwell_back.jpg) top left repeat-y; 
	padding:10px 20px 20px 20px;}

.main-content-1col { padding:10px 10px 30px 20px; float:left; clear:both; width: 665px; margin-left:-20px; }

.main-head-content { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #707070; font-weight:bold; }

#main-content a {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: none; }

#main-content a:hover { text-decoration: underline; }


#main-content ul { padding:0 0 0 20px; margin:8px 0 8px 0; }

#main-content li { padding:0; margin:0; }


#title-banner { margin:-10px 0 0 -20px; }


/*--- INQUIRY STYLES - DELETE AFTER NEW INQUIRY SITE IS LIVE ---*/


#inquiry-issue { margin-top: 15px; margin-left: 11px; font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #414141; }

.inquiry-issue-select { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #414141; width: 150px; }

#inquiry-issue-theme { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; font-style: italic; color: #414141; width: 150px; padding-top: 10px; }





/*--- NEWS PAGES ---*/

#news { width: 324px; float: left; }

div.news-item { width: 340px; height:131px; padding: 4px 0 0 2px; float:left; clear: both; background: url(../images/backgrounds/newsevents_back.jpg) repeat-x; }

div.news-archive-item { width: 660px; min-height: 122px; clear: both; border-bottom:1px solid #dadad8; padding-bottom:10px; margin-bottom:10px; }

div.news-photo { width: 160px; height:117px; float: left; background: url(../images/news/thumbnails/drop-shadow.png) no-repeat; padding:6px 5px 5px 6px; }

div.news-photo img { width: 150px; border:3px solid #fff; }


div.news-photo2 { width: 160px; height:117px; float: left;  background: url(../images/news/thumbnails/drop-shadow.png) no-repeat; padding:6px 5px 20px 6px; }

div.news-photo2 img { width: 150px; border:3px solid #fff; }

div.news-copy { float:left; width: 160px; height:124px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; padding:5px 0 0 3px;}

div.news-copy a, a:link, a:active, a:visited { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: none; }

div.news-copy a:hover { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: underline; }

div.news-archive-copy { width: 470px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #414141; padding:5px 0 0 10px; float:left; min-height:140px; }

div.news-archive-copy a, a:link, a:active, a:visited { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: none; }

div.news-archive-copy a:hover { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: underline; }

.thumb-content { width: 475px; float: right; font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #414141; padding-top: 3px; padding-bottom: 12px;
}



/*--- EVENTS HOMEPAGE CONTENT ---*/

#events { width: 324px; float: left; clear:both; }

.events-item { width: 324px; height:119px; padding: 8px 8px 8px 10px; float:left; clear: both; background: url(../images/backgrounds/newsevents_back.jpg) repeat-x;  }

.events-date { font-family : Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #5c5c5b; text-transform:uppercase; padding-bottom:10px; }

.events-day { font-family : Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #9a9a98; }

div.events-title { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; padding-bottom:10px; }

div.events-title a, a:link, a:active, a:visited { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: none; }

div.events-title a:hover { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: underline; }

div.events-description { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #414141; }

.events-location { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #414141; }




/*--- EVENTS PAGES ONLY ---*/


div#eventspage-list div.eventspage-title a { font-family : Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: #520063; text-decoration: none;}

div.eventspage-item { width: 650px; min-height:70px; float:left; clear:both; padding-bottom:25px; border-bottom:1px solid #dadad8; margin-bottom: 25px; }

div.eventspage-photo img { display:none; }

div.eventspage-copy { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #414141;  }

div.eventspage-description { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #414141; }

div.eventspage-title { font-family : Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; color: #520063; }

div.eventspage-title a:hover { text-decoration:underline; }





/*--- SPOTLIGHT SECTION HOMEPAGE ---*/


#spotlight { width: 212px; float:left; clear:both; position: relative; padding:15px 0 0 0; }

#spotlightheaderContain {width: 250; height:30px; background: #7f2d7d url(../images/homebanners/banner-background.png) top left repeat-x; padding-left: 5px; }

.spotlightContain { width: 212px; float:left; clear:both; height:403.5px; background: url(../images/backgrounds/spotlight_back.jpg) repeat-x; border-top:1px solid #c9c9c9;}



#spotlight-caption { width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #520063; padding:15px 5px 0 5px; float:left; clear:both; }

#spotlight-caption a, a:link, a:visited, a:active { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: none; }

#spotlight-caption a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: underline;}



#spotlight-title, #spotlight-title a { width:190px; font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; }

#spotlight-title a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; text-decoration:underline; }

#spotlight-image { border:1px solid #999999; }




#spotlight2-caption { width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #520063; padding:15px 5px 0 5px; float:left; clear:both; }

#spotlight2-caption a, a:link, a:visited, a:active { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: none; }

#spotlight2-caption a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: underline;}



#spotlight2-title, #spotlight2-title a { width:190px; font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; }

#spotlight2-title a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; text-decoration:underline; }

#spotlight2-image { border:1px solid #999999; }



#spotlight-caption-conv { width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #520063; padding:15px 5px 0 5px; float:left; clear:both; }

#spotlight-caption-conv a, a:link, a:visited, a:active { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: none; }

#spotlight-caption-conv a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; text-decoration: underline;}



#spotlight-title-conv, #spotlight-title-conv a { width:190px; font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; padding:12px 5px 0 6px; float:left; clear:both; height:60px; }

#spotlight-title-conv a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #520063; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; text-decoration:underline; }

#spotlight-image-conv { border:1px solid #999999; }





/* MES new: form fields --- TABLE FORMS BOOO*/


#main-content .formHeading { border:none; color:#520063; font-size:16px; font-weight:bold; padding:2px;  }

#main-content .formLabel { font-weight:bold; padding:2px 2px 2px 5px; text-align:left; vertical-align:top; color:414141; font-size:12px; }

#tableform { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: #333; text-decoration: none; border:1px solid #999; padding: 10px; }

#tableform td { padding-bottom: 10px; vertical-align: top; }

.form-label { width: 200px; }

.form-submit { background-color:#520063; border-bottom:1px solid #333; border-right:1px solid #333; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; padding:3px 15px 3px 15px; }


/*--- INQUIRY HOMEPAGE ---*/

div.inquiry-home { font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; border-bottom:1px solid #dadad8; margin-bottom: 10px; padding-bottom:3px; float:left; clear:both; }

div.inquiry-home-image { float: left; width: 170px; padding: 10px 10px 15px 10px; }

div.inquiry-home-image img { width: 150px; }

div.inquiry-home-story { margin-top: 6px; padding-left: 10px; margin-left: 170px; width: 480px; }

div.inquiry-home-story-full { margin-top: 6px; padding: 10px; }

div.inquiry-home-story-title a span { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight:bold; color: #520063; }

div.inquiry-home-summary {font-size: 12px; font-weight: normal; color: #414141; margin-top: 5px; }

div.inquiry-home-author { font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; font-style: italic; color: #414141; margin-top: 8px; margin-bottom: 15px; }




#newscenter-home-container { width: 695px; overflow: auto; clear: both; margin-left:-20px; margin-bottom:-20px; }

#newscenter-home-container h2 { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight:bold; color: #707070; padding-left:10px; }

#newscenter-home-inquiry-image img { margin-right: 12px; }

#newscenter-home-news { margin-top: 12px; float: left; width:342px; border-top:1px solid #dadad8; border-right:1px solid #dadad8;  }

#newscenter-home-events { margin-top: 12px; float: right; width:342px; border-top:1px solid #dadad8; border-left:1px solid #dadad8; }



/*-------NEWS AND EVENTS PAGE--------*/


#main-content .newsmonthlist { padding:0; margin:0; }

#main-content .newsmonthlist ul { list-style-type: none; padding:0; margin:0; }

#main-content .newsmonthlist li { list-style-type: none; padding:10px 0 10px 0; margin:0; }

#main-content .newsmonthlist li a { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #520063; }

#main-content .newsmonthlist li ul li { border-bottom:1px solid #dadad8; }

#main-content .newsmonthlist li ul li a { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #520063; }

#main-content .newslist { padding:0; margin:0; }

#main-content .newslist li { list-style-type: none; padding:10px 0 10px 0; margin:0; border-bottom:1px solid #dadad8; }

#main-content .newslist li a { font-weight: normal; font-size: 14px; }

div#main-content table.profiletable { margin: 0 0 20px 0; }



#siteName a { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #520063; font-weight:bold; text-decoration:none; }

#siteName a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #520063; font-weight:bold; text-decoration:underline; }






/*--------LEGACY items from MySESP------*/

.header { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #520063; }

#header2 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; color: #520063; }

#header2 a { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #520063; text-decoration:none; font-weight:normal; }

#header2 a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #520063; text-decoration:underline; font-weight:normal; }


.subheader { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; font-weight: bold;}

.subheader a:link { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; text-decoration:none; }

.subheader a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; text-decoration:underline; }


.subheader2 { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #707070; font-weight: bold; }

.subheader2 a:link { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; text-decoration:none; }

.subheader2 a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; text-decoration:underline; }

.subheader3 { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #520063; font-weight: bold; display:block; padding-bottom:10px; }

.subheader4 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #520063; font-weight: bold;}


.bodycopy {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #333;
}

.bodycopy a {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #520063;
text-decoration: none;
}

.bodycopy a:hover {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #520063;
text-decoration: underline;
}

.smallcopy {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #414141;
}

.smallcopy a {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #707070;
text-decoration: none;
}

.smallcopy a:hover {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #707070;
text-decoration: underline;
}

.profileListing {
text-align: left;
height: auto;
color: #414141;
}

#concentrations {
padding-left: 0px;
width: 640px;
border: 1px solid #fff;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 13px;
text-align: left;
padding: 0px;
}

#concentrations a {
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
color: #520063;
}

#concentrations td {
font-family: Arial, Helvetica, sans-serif;
padding: 5px;
vertical-align: top;
}

.concentrations-header{
color: white;
background: #520063;
font-weight: normal;
vertical-align:bottom;
text-align:center;
}

.concentrations-category{
color: #414141;
background: #ccc;
vertical-align:middle;
text-align:center;
width: 40%;
}

.concentrations-hdsp{
color: #414141;
background: #fff;
vertical-align:middle;
text-align:center;
width: 15%;
}

.concentrations-loc{
color: #414141;
background: #ccc;
vertical-align:middle;
text-align:center;
width: 15%;
}

.concentrations-soc{
color: #414141;
background: #fff;
vertical-align:middle;
text-align:center;
width: 15%;
}

.concentrations-st{
color: #414141;
background: #ccc;
vertical-align:middle;
text-align:center;
width: 15%;
}

#highlight {
border-width: 1px;
border-style: solid;
border-color: #dadad8;
padding-right: 10px;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 10px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #414141;
font-weight: normal;
width: 500px;
}

/*------My CSS-------*/

.shareTHIS { display:none; float:right; width:18px; padding:7px 5px 0 0; }

#spotlightImageContain { height:215px; float:left; clear:both; padding-left:5px; }

#landscapeContain { width:700px; float:left; clear:both; }

.divideVert { height:220px; float:left; width:3px; }




/*-------- News Events HOMEPAGE --------*/

#newseventsContain { width:700px; float:left; padding-top:10px; }

.banner { padding-left:5px; height:30px; width: 337px; background: url(../images/homebanners/banner-background.png) top left repeat-x; }



#banner-news a { width:57px; height:30px; background: url(../images/homebanners/news-header-both.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; }

#banner-news a:hover { background-position: 0 -30px; }


#banner-events a { width:76px; height:30px; background: url(../images/homebanners/events-header-both.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; }

#banner-events a:hover { background-position: 0 -30px; }


.banner2 { padding-left:5px; width: 337px; background: #ccc url(../images/homebanners/banner-background.png) top left repeat-x; }

#newsContain { width:342px; float:left; border:1px solid #dadad8; }

#eventsContain { width:342px; float:right; border:1px solid #dadad8; }

.news-itemContain { width:696px; height:210px; float:left;  }

.news-item1 { width:188px; float:left; height:210px; padding-left:40px; padding-top:10px;  }

.news-item2 { width:188px; float:left; height:210px; padding-left:40px; padding-top:10px;  }

.news-item3 { width:188px; float:left; height:210px; padding-left:40px; padding-top:10px;  }

.eventDescription { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #313131; }


#slideshow { float:left; clear:both; width: 698px; height: 243px; background: url() repeat-x; border: 1px solid #aeaeac; }


/*-----FOOTER-------*/


#footer { background: #fff url(../images/homebanners/footer3-background.png) repeat-x ; width:950px; height:98px; float:left; clear:both;  text-align:center;}

#footer li { display:inline; padding: 0 25px 0 25px; }

#footer ul { padding:10px 0 23px 0; margin:0; }

#footer span { color:#c6c1c6; font-family :Arial, Helvetica, sans-serif; font-size: 11px; }

#footer a { color:#520063; font-family :Arial, Helvetica, sans-serif; font-size: 12px;  }

#footer a:hover { color:#520063; font-family :Arial, Helvetica, sans-serif; font-size: 12px; text-decoration:underline; }

#footer span a { color:#c6c1c6; font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight:normal;  }

#footer span a:hover { color:#c6c1c6; font-family :Arial, Helvetica, sans-serif; font-size: 12px; text-decoration:underline; font-weight:normal; }






/*---- Right Hand Navigation for Sub Level Pages -----*/



#sidebar { float:right; width:212px; background: #fff url(../images/backgrounds/back_fade.jpg) repeat-x; border:1px solid #dadad8; }

#quicklinksHeaderContain { width: 226; height:30px;  background: #7f2d7d url(../images/homebanners/banner-background.png) top left repeat-x; padding-left: 5px; }


#sidelinks-header-msed a { width:220px; height:30px; background: url(../images/banners/msed_left_header.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; border:1px solid #dadad8; }  

#sidelinks-header-msed a:hover {  background-position: 0 -30px; border:1px solid #dadad8; }


#sidelinks-header-ls a { width:220px; height:30px; background: url(../images/banners/ls_right_header.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; border:1px solid #dadad8; }  

#sidelinks-header-ls a:hover {  background-position: 0 -30px; border:1px solid #dadad8; }


#sidelinks-header-lsma a { width:220px; height:30px; background: url(../images/banners/lsma_right_header.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; border:1px solid #dadad8; }  

#sidelinks-header-lsma a:hover {  background-position: 0 -30px; border:1px solid #dadad8; }


#sidelinks-header-hdsp a { width:220px; height:39px; background: url(../images/banners/hdsp_right_header.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; border:1px solid #dadad8; }  

#sidelinks-header-hdsp a:hover {  background-position: 0 -39px; border:1px solid #dadad8; }






#sidelinks { width: 201px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #520063; padding:0 0 0 1px; margin:0; }

#sidelinks ul {  list-style: none; padding:0; width:220px;  font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #520063; margin:0; }  /* container for all right hand nav*/

#sidelinks ul a {  list-style: none; padding:0; width:220px;  font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #520063; display:block;  }  /* container for all right hand nav*/

#sidelinks ul a:hover {  list-style: none; padding:0; width:220px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; display:block;    }  



/* Level One */ 

#sidelinks ul li a { padding-top:3px; padding-left:10px; display:block; }

#sidelinks ul li a:hover { background-color:#520063; width:210px; display:block; padding-top:3px; padding-left:10px; }

#sidelinks ul li.selected a { font-weight:bold; width:190px; }

#sidelinks ul li.selected a:hover { font-weight:bold; width:210px; }

 

/* Level Two */

#sidelinks ul ul li {  background-color:#fff; border-top:1px solid #f2f2f2; }

#sidelinks ul ul li a { padding-left:20px;  display:block; width:200px; }

#sidelinks ul ul li.selected a { font-weight:bold; padding-top:3px; display:block; width:200px;  }

#sidelinks ul ul li a:hover { padding-left:20px; background-color:#520063; width:200px; color:#fff; display:block; padding-top:3px;   }




/* Level Two Selected SPECIFIC*/

#sidelinks>ul>li.selected>ul>li.selected>a { font-weight:bold; }

#sidelinks>ul>li.selected>ul>li.selected>a:hover { font-weight:bold; width:200px; }


#sidelinks>ul>li.selected>ul>li>a { font-weight:normal; display:block; width:200px;} 

#sidelinks>ul>li.selected>ul>li>a:hover { font-weight:normal; display:block; width:200px;} 




/* Level Three */


#sidelinks ul ul ul li a {  padding-left:30px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #8e8e90; width:190px;   }

#sidelinks ul ul ul li.selected a { font-weight:bold; color:#fff; background-color:#520063; width:190px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; padding-top:3px; }

#sidelinks ul ul ul li.selected a:hover { font-weight:bold; color:#fff; width:190px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; padding-top:3px; background-color:#520063; }

#sidelinks ul ul ul li a:hover {  padding-left:30px; background-color:#520063; width:190px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; padding-top:3px;  }


/* Level Three Selected SPECIFIC*/

#sidelinks>ul>li.selected>ul>li.selected>ul>li>a { font-weight:normal; display:block; width:190px;  }

#sidelinks>ul>li.selected>ul>li.selected>ul>li>a:hover { font-weight:normal; display:block; width:190px; }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>a { font-weight:bold; }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>a:hover { font-weight:bold; display:block; width:190px; background-color:#520063; color:#fff;  }



/* Level Four */


#sidelinks ul ul ul ul li a {  padding-left:40px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #8e8e90; background-color:#fff; width:180px;   }

#sidelinks ul ul ul ul li.selected a { font-weight:bold; background-color:#7f2d7d; color:#fff; width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; padding-top:3px; }

#sidelinks ul ul ul ul li.selected a:hover { font-weight:bold; color:#fff; width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; padding-top:3px; background-color:#520063; }

#sidelinks ul ul ul ul li a:hover {  padding-left:40px; background-color:#520063; width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; padding-top:3px;  }


/* Level Four Selected SPECIFIC*/

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>ul>li>a { font-weight:normal; display:block; width:180px; background-color:#f7f7f7; color:#bebec1;  }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>ul>li>a:hover { font-weight:normal; display:block; width:180px; color:#fff; background-color:#520063; }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>ul>li.selected>a { font-weight:bold; display:block; width:180px; background-color:#520063; color:#fff;  }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>ul>li.selected>a:hover { font-weight:bold; display:block; width:180px; background-color:#520063; color:#fff;  }



/*-------- SUBPAGES NEW  --------*/

#main-subpage { float:left; width:695px; margin:10px; background-color: #fff; border:1px solid #dadad8; }

#sidebar-subpage { float:left; width:222px; min-height:700px; background: #fff url(../images/backgrounds/right_handnav_back.jpg) repeat-x; margin-top:10px;  }








#video-contain { float:left; clear:both; background: #fff url() repeat-x; width:300px; height:242px; }


/*-------- SUBPAGES MAIN WELL  --------*/


.header-contain { background: #fff url(../images/backgrounds/main_header_back.jpg) repeat-x; float:left; clear:both; width:686px; height:29px; border-top:1px solid #dadad8; color:#414141; font-family : Arial, Helvetica, sans-serif; font-size: 14px; font-weight:bold; padding:5px 0 0 10px; margin-left:-20px;  }

.mainwell-twocol-thumb { float:left; width:695px; clear:both;  }

.mainwell-thumb-contain { float:left; clear:both; width:675px; padding:10px; border-bottom:1px solid #dadad8; background: url() bottom left repeat-x; margin-left:-20px;  }

.mainthumb { float:left; width:225px; height:150px; background: url() no-repeat; padding:3px 0 0 6px; }

.mainthumb img { float:left; width:204px; border:4px solid #fff; }

.mainthumb-text { float:left; width:440px; }

#header-links a { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #520063; text-decoration: none;  }

#header-links a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #520063; text-decoration: underline;  }


.text_twocol_left { float:left; clear:both; width:120px; height:50px; padding:10px 15px 15px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #707070; font-weight: bold; }

.text_twocol_right { float:left; width:470px; padding:10px 0 15px 0;  }


.background-wrap { float:left; clear:both; width:620px; margin:0 0 20px 35px; background-color:#fff; border:1px solid #dadad8; }





/* slideshow gallery */

.slideshowlite {
	position: relative;
	overflow: hidden;
}

	.slideshowlite a {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.slideshowlite img { border-bottom:1px solid #aeaeac; }

/* pagination control */

.slideshowlite ul,
.slideshowlite ol {
	list-style: none;
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 35px;
	right: 5px;
	
}

	.slideshowlite ul li,
	.slideshowlite ol li {
		float: left;
		margin: 0 3px;
		width: 16px;
	}
	
	.slideshowlite ul li a {
		position: relative;
		display: block;
		width: 100%;
		height: 14px;
		padding-top: 2px;
		text-decoration: none;
		color: #520063;
		background: #fff;
		border: 1px solid #520063;
		text-indent:-1500px;
		font-size: 11px;
		outline: none;
		display:none;
	}
	
	.slideshowlite ul li a.current {
		color: #fff;
		font-weight: bold;
		border: 1px solid #fff;
		background: #893188;
		text-indent:-1500px;
		outline: none;
		display:none;
	}
	
	.slideshowlite ul li a:hover {
		color: #fff;
		background: #4e0062;
		display:none;
	}
	
/* caption control */

.slideshowlite ol {
	top: 248px;
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: 14px;
	color: #520063;
	background: none;
	padding: 3px 10px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;

}

	.slideshowlite ol li {
		width: 100%;
	}
	


/*-----QuickLinks-----*/	
	

div.quick { height:241px; }

div.quick ul#menu {  list-style-type:none; margin: 0; padding: 0; width: 212px; }

div.quick ul#menu ul { background: url(../images/buttons/quick_links_back_left.png) top left no-repeat;  list-style-type:none; margin: 0; padding: 0; width: 212px; }

div.quick ul#menu a { display: block; text-decoration: none; font-family :Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #c6c1c6; }





div.quick ul#menu li {  } 

div.quick ul#menu li a { background: url(../images/buttons/quick_links_back_left.png) top left no-repeat;  color: #3f0b49; font-family :Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; padding:7px 0 5px 28px; }

div.quick ul#menu li a:hover {  font-family :Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #931aaa; }






div.quick ul#menu li ul li a { background: #69216c; color: #ffffff; border-bottom:1px solid #7f2883; padding: 3px 0 3px 10px;  }

div.quick ul#menu li ul li a:hover { background: #7f2883; color: #ffffff; padding-left: 10px; }




/*--- TEMPLATE LAYOUT 1 MSLOC ---*/



.algright-image { float:right; padding-left:10px; }

.algleft-image { float:left; }



.ptop15 { padding-top:15px; }

.full-image-content { border-top:1px solid #dadad8; padding:10px 0; float:left; clear:both; }

.full-image-content ul { float:left; clear:both;}


/*--- MSLOC VIDEO BANNER ---*/



.msloc-vidback { width:400px; height:225px; float:right; margin:0 0 0 10px; border:1px solid #dadad8; }


/*-- NAVIGATION TABS --*/



#tab1 a { background: url(../images/buttons/program-curriculum.png) no-repeat center bottom; width:155px; height:98px; float:left; display:block; text-indent:-3500px; overflow:hidden; margin-right:8px; }

#tab1 a:hover { background-position: 0 -3px;  }





#tab2 a { background: url(../images/buttons/msloc-profiles.png) no-repeat center bottom; width:155px; height:98px; float:left; display:block; text-indent:-3500px; overflow:hidden; margin-right:8px; }

#tab2 a:hover { background-position: 0 -3px;  }




#tab3 a { background: url(../images/buttons/information-request.png) no-repeat center bottom; width:155px; height:98px; float:left; display:block; text-indent:-3500px; overflow:hidden; margin-right:8px; }

#tab3 a:hover { background-position: 0 -3px;  }




#tab4 a { background: url(../images/buttons/online-application.png) no-repeat center bottom; width:155px; height:98px; float:left; display:block; text-indent:-3500px; overflow:hidden; }

#tab4 a:hover { background-position: 0 -3px;  }



.fl-right { float:right; margin-right:170px; }
.horizontal-divide { border-bottom:1px solid #dadad8; width:660px; float:left; clear:both; margin-bottom:10px;}




/*-- NEW LS STYLES --*/


.e-brochure a { float:left; background: url(../images/learning-sciences/ebrochure-big.png) no-repeat left bottom; width:322px; height:128px; display:block; text-indent:-3500px; overflow:hidden; margin: 0 5px 20px 0; }

.e-brochure a:hover { background-position: 0 2px; }



.apply-now a {  float:left; background: url(../images/learning-sciences/applynow-big.png) no-repeat left bottom; width:322px; height:128px; display:block; text-indent:-3500px; overflow:hidden; margin: 0 5px 20px 0; }

.apply-now a:hover { background-position: 0 2px; }


.imagelink-text { float:left; padding-top:22px; height:60px; }


#inter-socialback { float:left; background: url(../images/learning-sciences/ls-social-contextback.png) no-repeat center top; width:185px; height:175px; padding:95px 15px 0 15px; margin-bottom:10px; }

#inter-cogback { float:left; background: url(../images/learning-sciences/ls-social-cognitionback.png) no-repeat center top; width:185px; height:175px; padding:95px 15px 0 15px; margin-bottom:10px; }

#inter-designback { float:left; background: url(../images/learning-sciences/ls-social-designback.png) no-repeat center top; width:185px; height:175px; padding:95px 15px 0 15px; margin-bottom:10px; }



.ls-contacts { float:left; width:265px; background-color:#ffffff; border:4px solid #dadad8; padding:10px 15px 15px 15px; margin:0 20px 20px 0px; }

#main-content .contact-name { float:left; width:280px; background-color:#dadad8; margin:-10px 0 5px -15px; padding:5px 0 5px 15px;}

#main-content .head-inline { font-family : Arial, Helvetica, sans-serif; font-size: 13px; color:#520063; font-weight:bold; }

#main-content .contact-name a { font-family : Arial, Helvetica, sans-serif; font-size: 15px; color:#520063; font-weight:bold; }

#main-content .contact-name a:hover { text-decoration:underline; }


.contact-right { float:right; width:300px; padding-left:30px; border-left:2px dotted #dadad8; margin-bottom:20px; }

.formError { font-family : Arial, Helvetica, sans-serif; font-size: 12px; color:#F00; font-weight:normal; float:left; }



.contact-titles h5 { float:left; }

.contact-titles { float:left; clear:both; width:200px; }

#contact-form input { margin-bottom:20px; }

#contact-form .formSubmit { float:left; clear:both; padding:10px 0 0 200px; }

#profile-name a { font-family : Arial, Helvetica, sans-serif; font-size: 18px; color:#520063; font-weight:normal; padding:0; margin:0; }

.profile-info { float:left; width: 550px; }

.ls-home-images { width:282px; background-color:#fff; padding:12px; min-height:320px; }

.ls-home-images img { margin-bottom:5px; border:none; }

.ls-home-images:hover { background-color:#e9e9e9; border:6px solid #fff; padding:6px; }


.submit-application { float:left; width:320px;  padding-bottom:15px; border-bottom:1px solid #dadad8;}

.submit-application-mail { float:left; width:450px;  margin-top:-32px }

.submit-application-mail span { display:block; padding-left: 20px; width:430px;}


.icon-float-left { float:left; margin:0 15px 15px 0; padding:3px 0 0 10px; }


