body {
margin:0;
padding:0;
color: #414141;
background: #e3e3e3;

}

#wrap {
width:990px;
padding-left: 20px;
margin:0 auto;
background: url(../images/backgrounds/body_shadow1.jpg) top left repeat-y;
height:100%;
overflow:hidden;

}

#topsection1 {
width: 950px;
height: 46px;
float:left;
background: #ccc url(../images/topnav/topsection1-background.png) top left repeat-x;
}

#nu {
width: 209px;
height: 46px;
float: left;
top: 0px;
left: 0px;
}

img {
	border: none;
}

#topnav {
width: 700px;
height: 29px;
padding: 7px 0 0 0;
float: right;
}



#navigation {
margin-top: 3px;
margin-left: 10px;
font-family : Arial, Helvetica, sans-serif;
font-size: 12px;
color: #ccc;
position: relative;
z-index: 999;
}

#navigation  a, a:link, a:active, a:visited {
font-family : Arial, Helvetica, sans-serif;
font-size: 12px;
color: #ccc;
text-decoration: none;
padding-right: 15px;
}

#navigation  a:hover {
font-family : Arial, Helvetica, sans-serif;
font-size: 12px;
color: #fff;
text-decoration: none;
}


/* son of suckerfish css menu styles */


#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav {
	position: relative;
	}

#nav a {
	display: block;
}

#nav li ul.navmenu li a {
	width: 13.44em;
	text-align: left;
	font-size: 10px;
	line-height: 1.5em;
	padding: 6px;
	background: #520063;
	-khtml-opacity: 0.85;
	opacity: 0.85;	
}

#nav li ul.navmenu li a:hover {
	background: #520063;
	-khtml-opacity: 0.85;
	opacity: 0.85;	
}

#nav li {
	float: left;
	width: 12em;
}

#nav>li>a { height:27px; }

#nav li ul li {
	border-top: 1px solid #999;
	
}


/*-----NEW TOP NAV-----*/



#nav li.home { width: 54px; height:27px; background: url(../images/topnav/home.png) top left no-repeat; }

#nav li.home a:hover  { width: 54px; height:27px; background: url(../images/topnav/home-over.png) top left no-repeat; }

#nav li.about { width: 89px; background: url(../images/topnav/about.png) top left no-repeat; position: absolute; left: 60px; }

#nav li.about a:hover { background: url(../images/topnav/about-over.png) top left no-repeat; }

#nav li.programs { width: 176px; background: url(../images/topnav/programs.png) top left no-repeat; position: absolute; left: 151px; }

#nav li.programs a:hover { background: url(../images/topnav/programs-over.png) top left no-repeat; }

#nav li.people {width: 70px; background: url(../images/topnav/people.png) top left no-repeat; position: absolute; left: 327px; }

#nav li.people a:hover { background: url(../images/topnav/people-over.png) top left no-repeat; }

#nav li.research { width: 89px; background: url(../images/topnav/research.png) top left no-repeat; position: absolute; left: 397px; }

#nav li.research a:hover { background: url(../images/topnav/research-over.png) top left no-repeat; }

#nav li.news { width: 115px; background: url(../images/topnav/news.png) top left no-repeat; position: absolute; left: 486px; }

#nav li.news a:hover { background: url(../images/topnav/news-over.png) top left no-repeat; }

#nav li.contact { width: 77px; background: url(../images/topnav/contact.png) top left no-repeat; position: absolute; left: 601px; }

#nav li.contact a:hover { background: url(../images/topnav/contact-over.png) top left no-repeat; }


#nav li ul {
	position: absolute;
	width: 12em;
	left: -999em;
	margin-top: auto;
	margin-left: 0em;
}

#nav li ul ul {
	margin: -2em 0 0 12.25em;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
	left: auto;
}

#nav li.sfhover ul {
	margin-left: 0em;
}

#nav li li.sfhover ul {
	margin-left: 12.25em;
}

#nav li.sfhover a.subnav:link {
	font-size: 11px;
	line-height: 1.5em;
}

#nav li.sfhover a.subnav:visited {
	font-size: 10;
	line-height: 1.5em;
}



#currentloc {
font-family: Arial, Helvetica, sans-serif;
font-size: 9px;
color: #ccc;
white-space: nowrap;
}

#currentloc a, a:link, a:active, a:visited {
font-family: Arial, Helvetica, sans-serif;
font-size: 9px;
color: #ccc;
text-decoration: none;
padding: 0px;
}

#currentloc a:hover {
font-family : Arial, Helvetica, sans-serif;
font-size: 9px;
color: #fff;
text-decoration: none;
}

#currentloc a.selected {
font-family : Arial, Helvetica, sans-serif;
font-size: 9px;
color: #fff;
font-weight: bold;
text-decoration: none;
}


	
#topsection2 {
width: 950px;
height: 33px;
background: #ccc url(../images/topnav/topsection2-background.jpg) top left repeat-x;
z-index: 10;
float:left;
clear:both;
}

#sesp { width: 437px; height: 31px; float: left; top: 0px; left: 0px; }

#search { width: 360px; height: 31px; float: right; padding-top:4px; }

#searchform { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; padding-top: 2px; color: #414141; position: relative; float:left; width:324px;  }

#searchbutton { padding-top: 3px; position: absolute; right: 0; top: 0px; width: 21px; height:20px; }



#break { height: 12px; background: #fff; }


#main { float:left; clear:both; width:928px; padding:10px 10px 10px 12px; background-color: #fff; }


#main-title { width: 675px; float:left; padding:5px 10px 10px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 22px; color:#5d1a61; background: url(../images/backgrounds/main_title_back.gif) repeat-x; }

#main-title img{ position:relative; left:-10px; top:-5px; }

#main-content {border-top:1px solid #dadad8; width: 655px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #414141;  float:left; clear:both; background: url(../images/backgrounds/mainwell_back.jpg) top left repeat-y; padding:20px;}


.main-content-1col { padding:10px 10px 30px 20px; float:left; clear:both; width: 665px; margin-left:-20px; }

.main-head-content { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #707070; font-weight:bold; }

#main-content a {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #7E2D7D;
text-decoration: none;
}

#main-content a:hover {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #7E2D7D;
text-decoration: underline;
}

.newscenter-caption {
font-family : Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #000;
}

.newscenter-caption a {
font-family : Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #cc3333;
}

.newscenter-subhead, newscenter-subhead a {
font-size: 18px;
color: #520063;
}

#inquiry-issue {
margin-top: 15px;
margin-left: 11px;
font-family : Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #414141;
}

.inquiry-issue-select {
font-family : Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #414141;
width: 150px;
}

#inquiry-issue-theme {
font-family : Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
font-style: italic;
color: #414141;
width: 150px;
padding-top: 10px;
}

#landscape {
float:left;
clear:both;
width: 698px;
height: 243px;
background-color: purple;

}

#landscape-caption {
width: 686px;
height:19px;
float:left;
clear:both;
background: url() repeat-x;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
padding:4px 8px 2px 4px;
color: #fff;

}

#landscape-caption a, a:link, a:active, a:visited {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #ccc;
text-decoration: none;
}

#landscape-caption a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #fff; text-decoration: none; }


#news { width: 324px; float: left; }

div.news-item { width: 340px; height:131px; padding: 4px 0 0 2px; float:left; clear: both; background: url(../images/backgrounds/newsevents_back.jpg) repeat-x; }

div.news-archive-item { width: 660px; min-height: 20px; clear: both; }

div.clear { clear: both; }



div.news-photo { width: 160px; height:117px; float: left; background: url(../images/news/thumbnails/drop_shadow.jpg) no-repeat; padding:6px 5px 5px 6px; }

div.news-photo img { width: 150px; border:3px solid #fff; }



div.news-copy { float:left; width: 160px; height:124px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; padding:5px 0 0 3px;}

div.news-copy a, a:link, a:active, a:visited { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; text-decoration: none; }

div.news-copy a:hover { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; text-decoration: underline; }




div.news-archive-copy {
	width: 470px;
	font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #414141;
	padding:5px 0 0 10px;
	float:left;
	min-height:140px;
}

div.news-archive-copy a, a:link, a:active, a:visited {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #520063;
	text-decoration: none;
}

div.news-archive-copy a:hover {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3f014c;
	text-decoration: none;
}



#events { width: 324px; float: left; clear:both; }

.events-item { width: 332px; height:127px; padding: 8px 0 0 10px; float:left; clear: both; background: url(../images/backgrounds/newsevents_back.jpg) repeat-x;  }




.events-date { font-family : Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #767675; text-transform:uppercase; padding-bottom:10px; }

.events-day { font-family : Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #babab8; }


div.events-title { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; padding-bottom:10px; }

div.events-title a, a:link, a:active, a:visited { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; text-decoration: none; }

div.events-title a:hover { font-family : Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; text-decoration: underline; }


div.events-description { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #313131; }

.events-location { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #313131; }






div#eventspage-list {
padding-left: 10px;
}

div#eventspage-list div.eventspage-title a:link {
font-family : Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #ff0000;
text-decoration: none;
}

div.eventspage-item {
min-height: 20px;
clear: both;
}
div.eventspage-photo img {
width: 86px;
float: left;
padding-right: 10px;
margin-bottom: 15px;
}
div.eventspage-copy {
width: 570px;
float: right;
font-family : Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #000;
margin-bottom: 15px;
}
div.eventspage-description {
font-family : Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #414141;
padding-top: 3px;
}
div.eventspage-date {
font-family : Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #414141;
padding-top: 3px;
}

div.eventspage-title {
font-family : Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #520063;
}

div#eventspage-list div.eventspage-title a {
font-family : Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #520063;
}

div.eventspage-title a:hover { text-decoration:underline; }





#sidebar { float:right; width:212px; background: #fff url(../images/backgrounds/back_fade.jpg) repeat-x; border:1px solid #dadad8; }



#quicklinks { float:right; width: 212px; padding: 0px; position: relative; height: 263px;  }

#quicklinksHeaderContain { width: 226; height:30px;  background: #7f2d7d url(../images/homebanners/banner-background.png) top left repeat-x; padding-left: 5px; }

#quicklinks a { font-family : Arial, Helvetica, sans-serif; font-size: 10px; color: #ccc; text-decoration: none;}

#quicklinks ul.qlinks { padding: 0; margin: 0; list-style: none; }

#quicklinks ul.qlinks a { display: block; width: 181px; }

#quicklinks ul.qlinks li { float: left; width: 181px; }

#quicklinks ul.qlinks li.gradstitle { width: 188px; height: 27px; background: #ccc url() top left no-repeat; }

#quicklinks ul.qlinks li.gradsstitle a { width: 188px; }

#quicklinks ul.qlinks li.gradstitle a:hover { background: url() top left no-repeat; }

#quicklinks ul.qlinks li.quicklinksbutton { width: 34px; background: #ccc url() top left no-repeat;	}

#quicklinks ul.qlinks li.quicklinksbutton a { width: 34px; height: 27px; }

#quicklinks ul.qlinks ul.navmenu { position: absolute; list-style: none; margin-top: auto; margin-left: 40px; }

#quicklinks ul.qlinks ul.navmenu li a {
	width: 188px;
	text-align: left;
	line-height: 1.5em;
	height: auto;
	padding:6px 6px 6px 8px;
	background: #520063;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	color: #ccc;
}



#quicklinks ul.qlinks ul.navmenu li a:hover { color: #fff; }

#quicklinks ul.qlinks ul.navmenu { width: 201px; left: -2999px; position: absolute;	}


#quicklinks ul.qlinks li.quicklinksbutton:hover ul { left: -70px; position: absolute; z-index: 10;}

#quicklinks ul.qlinks li.quicklinksbutton:hover ul li a {  border-top: 1px solid #999; }


#quicklinks ul.qlinks li.gradstitle { width: 178px; height: 27px; background: #ccc url() top left no-repeat; } /* image used in quicklinks drop down */

#quicklinks ul.qlinks li.gradstitle a:hover { background: url() top left no-repeat; }  /* image used in quicklinks drop down hover */


#quicklinks ul.qlinks li.ugradstitle { width: 178px; height: 27px;background: #ccc url() top left no-repeat; }

#quicklinks ul.qlinks li.ugradstitle a:hover { background: url() top left no-repeat; }


#quicklinks ul.qlinks li.currenttitle { width: 178px; height: 27px; background: #ccc url() top left no-repeat; }

#quicklinks ul.qlinks li.currenttitle a:hover { background: url() top left no-repeat; }


#quicklinks ul.qlinks li.facultytitle { width: 178px; height: 27px; background: #ccc url() top left no-repeat; }

#quicklinks ul.qlinks li.facultytitle a:hover { background: url() top left no-repeat; }


#quicklinks ul.qlinks li.parentstitle { width: 178px; height: 27px; background: #ccc url() top left no-repeat; }

#quicklinks ul.qlinks li.parentstitle a:hover { background: url() top left no-repeat; }


#quicklinks ul.qlinks li.alumnititle { width: 178px; height: 27px; background: #ccc url() top left no-repeat; }

#quicklinks ul.qlinks li.alumnititle a:hover { background: url() top left no-repeat; }







#spotlight { width: 212px; float:left; clear:both; position: relative; padding:15px 0 0 0; }

#spotlightheaderContain {width: 250; height:30px; background: #7f2d7d url(../images/homebanners/banner-background.png) top left repeat-x; padding-left: 5px; }

.spotlightContain { width: 212px; float:left; clear:both; height:403.5px; background: url(../images/backgrounds/spotlight_back.jpg) repeat-x; border-top:1px solid #c9c9c9;}



#spotlight-caption { width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #7e2d7d; padding:15px 5px 0 5px; float:left; clear:both; }

#spotlight-caption a, a:link, a:visited, a:active { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; text-decoration: none; }

#spotlight-caption a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; text-decoration: underline;}



#spotlight-title, #spotlight-title a { width:190px; font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; }

#spotlight-title a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; text-decoration:underline; }

#spotlight-image { border:1px solid #999999; }




#spotlight2-caption { width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #7e2d7d; padding:15px 5px 0 5px; float:left; clear:both; }

#spotlight2-caption a, a:link, a:visited, a:active { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; text-decoration: none; }

#spotlight2-caption a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; text-decoration: underline;}



#spotlight2-title, #spotlight2-title a { width:190px; font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; }

#spotlight2-title a:hover { font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #7e2d7d; padding:12px 5px 10px 3px; float:left; clear:both; height:60px; text-decoration:underline; }

#spotlight2-image { border:1px solid #999999; }





/* MES new: form fields */

#tableform {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #333;
text-decoration: none;
border:1px solid #999;
padding: 10px;
}

#tableform td {
padding-bottom: 10px;
vertical-align: top;
}

.form-label {
width: 200px;
}

.form-submit {
background-color:#520063;
border-bottom:1px solid #333;
border-right:1px solid #333;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
padding:3px 15px 3px 15px;
}

/* MES new: form fields */



div.inquiry-home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	border:1px solid #999;
	margin-bottom: 3px;
	float:left;
	clear:both;
}

div.inquiry-home-image {
	float: left;
	width: 170px;
	padding: 10px 10px 15px 10px;
}

div.inquiry-home-image img {
	width: 150px;
}

div.inquiry-home-story {
	margin-top: 6px;
	padding-right: 10px;
	margin-left: 150px;
	width: 500px;
}

div.inquiry-home-story-full {
	margin-top: 6px;
	padding: 10px;
}


div.inquiry-home-story-title a span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #520063;
}

div.inquiry-home-summary {
	font-size: 14px;
	font-weight: normal;
	color: #333;
	margin-top: 8px;
}

div.inquiry-home-author {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
	color: #000;
	margin-top: 8px;
	margin-bottom: 15px;
	margin-left: 40px;
}




#newscenter-home-container { width: 695px; overflow: auto; clear: both; margin-left:-20px; margin-bottom:-20px; }

#newscenter-home-container h2 { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight:bold; color: #707070; padding-left:10px; }

#newscenter-home-inquiry-image img { margin-right: 12px; }

#newscenter-home-news { margin-top: 12px; float: left; width:342px; border-top:1px solid #dadad8; border-right:1px solid #dadad8;  }

#newscenter-home-events { margin-top: 12px; float: right; width:342px; border-top:1px solid #dadad8; border-left:1px solid #dadad8; }





/*-------NEWS AND EVENTS PAGE--------*/



ul.newsmonthlist li, ul.newslist li {
	list-style-type: none;
}

div#main-content ul.newsmonthlist li, ul.newslist li {
	padding-bottom: 12px;
}

div#main-content ul.newsmonthlist li ul, ul.newslist {
	padding-left: 0;
	margin-left: 0;
}

div#main-content ul.newsmonthlist li ul li, ul.newslist li {
	padding-left: 0;
	margin-left: 0;
	padding-bottom: auto;
}

div#main-content ul.newsmonthlist li a, a:link, a:visited {
	font-weight: bold;
	font-size: 16px;
}

div#main-content ul.newsmonthlist li ul li a, a:link, a:visited {
	font-weight: normal;
	font-size: 14px;
}

div#main-content ul.newslist li a, a:link, a:visited {
	font-weight: normal;
	font-size: 14px;
}

div#main-content table.profiletable {
	margin: 0 0 20px 0;
}

#siteName a { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #7E2D7D; font-weight:bold; text-decoration:none; }

#siteName a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #7E2D7D; font-weight:bold; text-decoration:underline; }






/*--------LEGACY items from MySESP------*/

.header {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
color: #520063;
}

.subheader { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; font-weight: bold;}

.subheader a:link { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; text-decoration:none; }

.subheader a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; text-decoration:underline; }


.subheader2 { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; font-weight: bold; }

.subheader2 a:link { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; text-decoration:none; }

.subheader2 a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #707070; text-decoration:underline; }


.bodycopy {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #333;
}

.bodycopy a {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #cc3333;
text-decoration: none;
}

.bodycopy a:hover {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #cc0000;
text-decoration: none;
}

.smallcopy {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #414141;
}

.smallcopy a {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #707070;
text-decoration: none;
}

.smallcopy a:hover {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #707070;
text-decoration: underline;
}

.profileListing {
text-align: left;
height: auto;
color: #414141;
}

#concentrations {
padding-left: 0px;
width: 640px;
border: 1px solid #fff;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 13px;
text-align: left;
padding: 0px;
}

#concentrations a {
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
color: #CC3333;
}

#concentrations td {
font-family: Arial, Helvetica, sans-serif;
padding: 5px;
vertical-align: top;
}

.concentrations-header{
color: white;
background: #520063;
font-weight: normal;
vertical-align:bottom;
text-align:center;
}

.concentrations-category{
color: #414141;
background: #ccc;
vertical-align:middle;
text-align:center;
width: 40%;
}

.concentrations-hdsp{
color: #414141;
background: #fff;
vertical-align:middle;
text-align:center;
width: 15%;
}

.concentrations-loc{
color: #414141;
background: #ccc;
vertical-align:middle;
text-align:center;
width: 15%;
}

.concentrations-soc{
color: #414141;
background: #fff;
vertical-align:middle;
text-align:center;
width: 15%;
}

.concentrations-st{
color: #414141;
background: #ccc;
vertical-align:middle;
text-align:center;
width: 15%;
}

#highlight {
border-width: 1px;
border-style: solid;
border-color: #dadad8;
padding-right: 10px;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 10px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #414141;
font-weight: normal;
width: 500px;
}

/*------My CSS-------*/

.shareTHIS { display:none; float:right; width:18px; padding:7px 5px 0 0; }

#spotlightImageContain { height:215px; float:left; clear:both; padding-left:5px; }

#landscapeContain { width:700px; float:left; clear:both; }

.divideVert { height:220px; float:left; width:3px; }




/*-------- News Events HOMEPAGE --------*/

#newseventsContain { width:700px; float:left; padding-top:10px; }

.banner { padding-left:5px; height:30px; width: 337px; background: url(../images/homebanners/banner-background.png) top left repeat-x; }



#banner-news a { width:57px; height:30px; background: url(../images/homebanners/news-header-both.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; }

#banner-news a:hover { background-position: 0 -30px; }


#banner-events a { width:76px; height:30px; background: url(../images/homebanners/events-header-both.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; }

#banner-events a:hover { background-position: 0 -30px; }


.banner2 { padding-left:5px; width: 337px; background: #ccc url(../images/homebanners/banner-background.png) top left repeat-x; }

#newsContain { width:342px; float:left; border:1px solid #dadad8; }

#eventsContain { width:342px; float:right; border:1px solid #dadad8; }

.news-itemContain { width:696px; height:210px; float:left;  }

.news-item1 { width:188px; float:left; height:210px; padding-left:40px; padding-top:10px;  }

.news-item2 { width:188px; float:left; height:210px; padding-left:40px; padding-top:10px;  }

.news-item3 { width:188px; float:left; height:210px; padding-left:40px; padding-top:10px;  }

.eventDescription { font-family : Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #313131; }


#slideshow { float:left; clear:both; width: 698px; height: 243px; background: url(../images/slideshow/back_slide.png) repeat-x; border: 1px solid #aeaeac; }


/*-----FOOTER-------*/


#footer { background: #fff url(../images/homebanners/footer3-background.png) repeat-x ; width:950px; height:98px; float:left; clear:both;  text-align:center;}

#footer li { display:inline; padding: 0 25px 0 25px; }

#footer ul { padding:10px 0 23px 0; margin:0; }

#footer span { color:#c6c1c6; font-family :Arial, Helvetica, sans-serif; font-size: 11px; }

#footer a { color:#7E2D7D; font-family :Arial, Helvetica, sans-serif; font-size: 12px;  }

#footer a:hover { color:#7E2D7D; font-family :Arial, Helvetica, sans-serif; font-size: 12px; text-decoration:underline; }


#footer span a { color:#c6c1c6; font-family :Arial, Helvetica, sans-serif; font-size: 12px; font-weight:normal;  }

#footer span a:hover { color:#c6c1c6; font-family :Arial, Helvetica, sans-serif; font-size: 12px; text-decoration:underline; font-weight:normal; }






/*---- Right Hand Navigation for Sub Level Pages -----*/



#sidelinks-header-msed a { width:220px; height:30px; background: url(../images/banners/msed_left_header.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; border:1px solid #dadad8; }  

#sidelinks-header-msed a:hover {  background-position: 0 -30px; border:1px solid #dadad8; }


#sidelinks-header-ls a { width:220px; height:30px; background: url(../images/banners/ls_right_header.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; border:1px solid #dadad8; }  

#sidelinks-header-ls a:hover {  background-position: 0 -30px; border:1px solid #dadad8; }


#sidelinks-header-lsma a { width:220px; height:30px; background: url(../images/banners/lsma_right_header.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; border:1px solid #dadad8; }  

#sidelinks-header-lsma a:hover {  background-position: 0 -30px; border:1px solid #dadad8; }


#sidelinks-header-hdsp a { width:220px; height:39px; background: url(../images/banners/hdsp_right_header.png) top left no-repeat; display:block; text-indent:-1500px; overflow:hidden; border:1px solid #dadad8; }  

#sidelinks-header-hdsp a:hover {  background-position: 0 -39px; border:1px solid #dadad8; }






#sidelinks { width: 201px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #8c338b; padding:0 0 0 1px; margin:0; }

#sidelinks ul {  list-style: none; padding:0; width:220px;  font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #8c338b; margin:0; }  /* container for all right hand nav*/

#sidelinks ul a {  list-style: none; padding:0; width:220px;  font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #8c338b; display:block;  }  /* container for all right hand nav*/

#sidelinks ul a:hover {  list-style: none; padding:0; width:220px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; display:block;    }  



/* Level One */ 

#sidelinks ul li a { padding-top:3px; padding-left:10px; display:block; }

#sidelinks ul li a:hover { background-color:#7f2d7d; width:210px; display:block; padding-top:3px; padding-left:10px; }

#sidelinks ul li.selected a { font-weight:bold; width:190px; }

#sidelinks ul li.selected a:hover { font-weight:bold; width:210px; }

 

/* Level Two */

#sidelinks ul ul li {  background-color:#fff; border-top:1px solid #f2f2f2; }

#sidelinks ul ul li a { padding-left:20px;  display:block; width:200px; }

#sidelinks ul ul li.selected a { font-weight:bold; padding-top:3px; display:block; width:200px;  }

#sidelinks ul ul li a:hover { padding-left:20px; background-color:#7f2d7d; width:200px; color:#fff; display:block; padding-top:3px;   }




/* Level Two Selected SPECIFIC*/

#sidelinks>ul>li.selected>ul>li.selected>a { font-weight:bold; }

#sidelinks>ul>li.selected>ul>li.selected>a:hover { font-weight:bold; width:200px; }


#sidelinks>ul>li.selected>ul>li>a { font-weight:normal; display:block; width:200px;} 

#sidelinks>ul>li.selected>ul>li>a:hover { font-weight:normal; display:block; width:200px;} 




/* Level Three */


#sidelinks ul ul ul li a {  padding-left:30px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #8e8e90; width:190px;   }

#sidelinks ul ul ul li.selected a { font-weight:bold; color:#fff; background-color:#7f2d7d;; width:190px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; padding-top:3px; }

#sidelinks ul ul ul li.selected a:hover { font-weight:bold; color:#fff; width:190px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; padding-top:3px; background-color:#7f2d7d }

#sidelinks ul ul ul li a:hover {  padding-left:30px; background-color:#7f2d7d; width:190px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; padding-top:3px;  }


/* Level Three Selected SPECIFIC*/

#sidelinks>ul>li.selected>ul>li.selected>ul>li>a { font-weight:normal; display:block; width:190px;  }

#sidelinks>ul>li.selected>ul>li.selected>ul>li>a:hover { font-weight:normal; display:block; width:190px; }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>a { font-weight:bold; }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>a:hover { font-weight:bold; display:block; width:190px; background-color:#7f2d7d; color:#fff;  }



/* Level Four */


#sidelinks ul ul ul ul li a {  padding-left:40px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #8e8e90; background-color:#fff; width:180px;   }

#sidelinks ul ul ul ul li.selected a { font-weight:bold; background-color:#7f2d7d; color:#fff; width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; padding-top:3px; }

#sidelinks ul ul ul ul li.selected a:hover { font-weight:bold; color:#fff; width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; padding-top:3px; background-color:#7f2d7d }

#sidelinks ul ul ul ul li a:hover {  padding-left:40px; background-color:#7f2d7d; width:180px; font-family : Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; padding-top:3px;  }


/* Level Four Selected SPECIFIC*/

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>ul>li>a { font-weight:normal; display:block; width:180px; background-color:#f7f7f7; color:#bebec1;  }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>ul>li>a:hover { font-weight:normal; display:block; width:180px; color:#fff; background-color:#7f2d7d; }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>ul>li.selected>a { font-weight:bold; display:block; width:180px; background-color:#7f2d7d; color:#fff;  }

#sidelinks>ul>li.selected>ul>li.selected>ul>li.selected>ul>li.selected>a:hover { font-weight:bold; display:block; width:180px; background-color:#7f2d7d; color:#fff;  }



/*-------- SUBPAGES NEW  --------*/

#main-subpage { float:left; width:695px; margin:10px; background-color: #fff; border:1px solid #dadad8; }

#sidebar-subpage { float:left; width:222px; min-height:700px; background: #fff url(../images/backgrounds/right_handnav_back.jpg) repeat-x; margin-top:10px;  }








#video-contain { float:left; clear:both; background: #fff url() repeat-x; width:300px; height:242px; }


/*-------- SUBPAGES MAIN WELL  --------*/


.header-contain { background: #fff url(../images/backgrounds/main_header_back.jpg) repeat-x; float:left; clear:both; width:686px; height:29px; border-top:1px solid #dadad8; color:#414141; font-family : Arial, Helvetica, sans-serif; font-size: 14px; font-weight:bold; padding:5px 0 0 10px; margin-left:-20px;  }

.mainwell-twocol-thumb { float:left; width:695px; clear:both;  }

.mainwell-thumb-contain { float:left; clear:both; width:675px; padding:10px; border-bottom:1px solid #dadad8; background: url() bottom left repeat-x; margin-left:-20px;  }

.mainthumb { float:left; width:225px; height:150px; background: url() no-repeat; padding:3px 0 0 6px; }

.mainthumb img { float:left; width:204px; border:4px solid #fff; }

.mainthumb-text { float:left; width:440px; }

#header-links a { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #7E2D7D; text-decoration: none;  }

#header-links a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #7E2D7D; text-decoration: underline;  }


.text_twocol_left { float:left; clear:both; width:120px; height:50px; padding:10px 15px 15px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #707070; font-weight: bold; }

.text_twocol_right { float:left; width:470px; padding:10px 0 15px 0;  }


.background-wrap { float:left; clear:both; width:620px; margin:0 0 20px 35px; background-color:#fff; border:1px solid #dadad8; }





/* slideshow gallery */

.slideshowlite {
	position: relative;
	overflow: hidden;
}

	.slideshowlite a {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.slideshowlite img { border-bottom:1px solid #aeaeac; }

/* pagination control */

.slideshowlite ul,
.slideshowlite ol {
	list-style: none;
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 35px;
	right: 5px;
	
}

	.slideshowlite ul li,
	.slideshowlite ol li {
		float: left;
		margin: 0 3px;
		width: 16px;
	}
	
	.slideshowlite ul li a {
		position: relative;
		display: block;
		width: 100%;
		height: 14px;
		padding-top: 2px;
		text-decoration: none;
		color: #4e0062;
		background: #fff;
		border: 1px solid #4e0062;
		text-indent:-1500px;
		font-size: 11px;
		outline: none;
		display:none;
	}
	
	.slideshowlite ul li a.current {
		color: #fff;
		font-weight: bold;
		border: 1px solid #fff;
		background: #893188;
		text-indent:-1500px;
		outline: none;
		display:none;
	}
	
	.slideshowlite ul li a:hover {
		color: #fff;
		background: #4e0062;
		display:none;
	}
	
/* caption control */

.slideshowlite ol {
	top: 248px;
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: 14px;
	color: #7E2D7D;
	background: none;
	padding: 3px 10px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;

}

	.slideshowlite ol li {
		width: 100%;
	}
	
/*-----QuickLinks-----*/	
	

div.quick { height:241px; }

div.quick ul#menu {  list-style-type:none; margin: 0; padding: 0; width: 212px; }

div.quick ul#menu ul { background: url(../images/buttons/quick_links_back_left.png) top left no-repeat;  list-style-type:none; margin: 0; padding: 0; width: 212px; }

div.quick ul#menu a { display: block; text-decoration: none; font-family :Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #c6c1c6; }





div.quick ul#menu li {  } 

div.quick ul#menu li a { background: url(../images/buttons/quick_links_back_left.png) top left no-repeat;  color: #3f0b49; font-family :Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; padding:7px 0 5px 28px; }

div.quick ul#menu li a:hover {  font-family :Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #931aaa; }

div.quick ul#menu li a.active { background: url(../images/buttons/quick_links_back.png) top left no-repeat;  } 




div.quick ul#menu li ul li a { background: #69216c; color: #ffffff; border-bottom:1px solid #7f2883; padding: 3px 0 3px 10px;  }

div.quick ul#menu li ul li a:hover { background: #7f2883; color: #ffffff; padding-left: 10px; }










