nav ul { margin:0 auto; text-align:center; height:55px;   }

nav ul li { display: inline; float:left; width:94px; }

nav ul li a {  color:#ffffff; line-height:130%;  font-family: Helvetica, Arial, sans-serif; font-size:0.6em; text-transform: uppercase; text-decoration:none; height:33px; display:block; padding:6px 10px 0 10px; }

nav ul li a:hover { background-color:#520063;  }

.show-hide-contain { float:none;  }

ul.num-list { padding-left:28px; }

nav ul ul li { float:left; clear:both;  }

nav ul ul { margin:0; padding:0; position:relative;  }

nav ul ul li a { height:auto !important; }
