/* BASIC STYLES
----------------------------------------------*/

body { font-family: Helvetica, Arial, sans-serif; line-height:160%; }

p { font-family:  Helvetica, Arial, sans-serif; color:#191919; padding:5px 0; margin:5px 0; font-size:0.75em; line-height:150%; float:left; clear:both; width:100%;}

span { font-family:  Helvetica, Arial, sans-serif; color:#191919; padding:5px 0; margin:5px 0; font-size:0.75em; line-height:150%; }

em { font-style:italic;  }

a { text-decoration:none; }

p a, .contact-content h4 a, ul.num-list li a, ul.pdf-links li a, .contact-content span a, h3 a, .contact-list-left span a, .contact-list-center span a, .contact-list-right span a, h2 a, ul.excel-links li a, table.directory td a, ul.gray-list a    { color:#658e29; }

p a:hover, .contact-content h4 a:hover, ul.link-list li a:hover, ul.pdf-links li a:hover, .contact-content span a:hover, h3 a:hover, .contact-list-left span a:hover, .contact-list-center span a:hover, .contact-list-right span a:hover, h2 a:hover, ul.excel-links li a:hover, table.directory td a:hover, ul.gray-list a:hover { text-decoration:underline;} 

strong { font-family:  Helvetica, Arial, sans-serif; color:#191919; font-size:12px; font-weight:bold; }


h1 { font-family: Helvetica, Arial, sans-serif; color:#520063; font-size:1.5em;  }

h2 { font-family: Helvetica, Arial, sans-serif; color:#520063; font-size:1.2em; padding-bottom:5px; }

h3 { font-family: Helvetica, Arial, sans-serif; color:#520063; font-size:1.05em; line-height:140%; }

h4 { font-family: Helvetica, Arial, sans-serif; color:#520063; font-size:0.9em; line-height:140%; }

h5 { font-family: Helvetica, Arial, sans-serif; color:#658e29; font-size:0.85em; line-height:150%;  }

.portal-areas h2 { border-bottom:1px solid #dfebca; padding-bottom:7px; text-align:center;}

.portal-areas h2 a { display:block; color:#520063;  }
 
/* NAVIGATION
----------------------------------------------*/
 
nav ul { margin:0 auto; text-align:center; height:55px;   }

nav ul li { display: inline-block;  text-align:center; vertical-align: middle; border-left:1px solid #703cbe; padding:14px 0;  }

nav ul li a { color:#ffffff; line-height:130%;  font-family: Helvetica, Arial, sans-serif; font-size:0.7em; text-transform: uppercase; text-decoration:none; min-height:33px; display:block; padding:6px 10px 6px 10px;  }

nav ul li a:hover { background-color:#ADA2CF;  }

#nav-last { border-right:1px solid #703cbe; }

/* drop down
----------------------------------------------*/

nav ul ul { position:absolute; visibility: hidden;  z-index:10;  }

nav ul ul li a { padding:10px 10px 5px 10px;  line-height:160%; display:block; min-height:20px }

nav ul ul li { display:block;  margin:0; padding:0;  background-color:#6450A1; text-align:left;  vertical-align: middle; }

nav ul li:hover ul{ visibility:visible; z-index:10; } 


/* HEADER
----------------------------------------------*/

header { background-color: #4E2A84; height:100px; width:100%;  }

#head-contain { margin:0 auto; text-align:center; width:1140px; }

#header-image { padding:55px 20px 0 90px; float:left; }

#search-box { border:2px solid #dfebca;  float:right; background-color:#fbfbfb; margin: 73px 80px 0 0; padding:5px; width:270px; text-align:left;}

#search-box input { border:1px solid #e6e6e6; padding:5px; width:170px; height:18px; font-size:0.9em; float:left; }

#search-box input#search-but { 

    width:82px;
    height:30px;
    float:left; 
    cursor:pointer;
    color:#fff;
    text-transform:uppercase;
    font-size:0.8em;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, rgb(72,4,87)),
    color-stop(1, rgb(141,42,166)));
    background-image: -moz-linear-gradient(
    center bottom,
    rgb(72,4,87) 50%,
    rgb(141,42,166) 100%);
    margin-left: 5px;

}

#search-box input#search-but:hover {  }



/* HOME PAGE MAIN CONTENT
----------------------------------------------*/

#content-wrapper { margin-top:-34px; position: relative; width:944px; background-color:#fff;  }

#home-content { padding:15px 0 5px 0; background-color:#fbfbfb; width:946px;  }

#home-content p, #home-content h1 { padding:0 15px; width:920px; }

.portal-areas { float:left; width:271px; padding:10px; border:2px solid #dfebca; min-height:230px; cursor:pointer; background-color: #fff; margin:10px 0 10px 15px;  }

.portal-areas:hover { background-color: #f2ffdb; border:2px solid #9dcd41;  }

.portal-areas ul { color:#6b6b6b; font-size:0.75em; list-style:disc; padding-left:20px;  }

.portal-areas ul li { line-height:160%;  }

.portal-areas span { display:block; font-family:  Helvetica, Arial, sans-serif; color:#191919; padding:5px 0; margin:5px 0; font-size:0.75em; line-height:150%; }



/* SUBPAGE SIDE NAVIGATION
----------------------------------------------*/


#side-navigation { float:left;  min-height:400px; width:220px; background: url(../images/sidenav-back.jpg) repeat-y;  }

#side-navigation ul { float:left; }


#side-navigation ul li {  border-bottom:1px dotted #cbdeb0; line-height:130%; width:220px  }

#side-navigation ul li:first-child { background-color: #fff;   font-size:1.25em;  }

#side-navigation ul.menu1 { float:none;  }

#side-navigation ul.menu1:first-class li.selected { background-image:none; width:100%  }

#side-navigation ul.menu1:first-class li.selected a { border:none;  }

#side-navigation ul li a { display:block; font-size:0.75em; color:#658e29; padding:5px 10px   }

#side-navigation ul li a:hover {  background-color:#fff; color:#4c6b1f  }

#side-navigation ul li.selected { border:none; width:110%;  background: url(../images/select-state-long.png) #ffffff right  no-repeat; padding:-1px 0; ;}

#side-navigation ul li.selected a { border-bottom:1px solid #cbdeb0; border-top:1px solid #cbdeb0; width:83%; }





/* SUBPAGE CONTENT
----------------------------------------------*/


#subpage-content { float:left; width:686px; padding:10px 20px 20px 20px;  }


#main-content { float:left; clear:both;  background: url(../images/sidenav-back.jpg) repeat-y left; background-color:#fff;  border:8px solid #dfebca; width:946px; }


.contact-cta { float:left; background-color:#f2ffdb; border-top:1px dotted #cbdeb0; border-bottom:1px dotted #cbdeb0; width:670px; margin:10px 0; padding:10px; line-height:120%; }

.contact-cta img { float:left; padding-right:20px;  }



.contact-content span, .contact-list-left span, .contact-list-center span, .contact-list-right span { font-family:  Helvetica, Arial, sans-serif; color:#6b6b6b; font-size:0.75em;  }


.contact-list-left, .contact-list-center, .contact-list-right {  border:2px solid #dfebca; background-color:#fbfbfb; padding:10px; width:195px; margin-bottom:18px; min-height:122px; line-height:120%;  }

.contact-list-left { float:left; margin-right:15px;  }

.contact-list-center { float:left;  }

.contact-list-right { float:right;  }

.sexual-harrasment-advisers { min-height:140px; line-height:130%; }



.horizontal-divide  { float:left; clear:both; width:100%; height:8px; border-bottom:1px dotted #cbdeb0; margin-bottom:10px;  }

ul.num-list { list-style:decimal; font-size:0.75em; padding-left:18px; line-height:160%; margin:5px 0; float:left;  width:670px;  }



ul.num-list li a:hover{ text-decoration:underline;}


ul.num-list li ul { list-style:disc; padding-left:38px;  color:#6b6b6b;  }

ul.pdf-links  { font-size:0.75em; list-style-image: url(../images/pdf-list.gif); float:left; padding-left:25px; }

ul.excel-links  { font-size:0.75em; list-style-image: url(../images/excel.gif); float:left; padding-left:25px; }




ul.link-list { list-style:disc; font-size:0.75em; float:left; clear:both; padding-left:20px; line-height:160%; color:#6b6b6b; width:100%;  }

ul.link-list li a { color:#658e29; }


ul.basic-link { list-style:none; font-size:1.1em; float:left; clear:both; padding-left:20px; line-height:160%; color:#6b6b6b; width:100%; margin-top:10px;  }

ul.basic-link li { margin-bottom:10px;  }

ul.basic-link li a { color:#658e29; font-size:0.75em; display:block; padding-left:40px; }

ul.basic-link li i { color:#658E29; padding-right:10px; font-size: 1.2em;  }


.border-dark-gray { border:1px solid #cccccc; }

.border-mid-gray { border:1px solid #e0e0e0; }

.border-light-gray-right { border:1px solid #f0f0f0; float:right; margin:0 0 10px 10px; }

.border-light-gray-left { border:1px solid #f0f0f0; float:left; margin:0 15px 15px 0; }

.border-dark-gray img { border:4px solid #fff; }


.content-image img { float:right; padding-right:20px; }

.content-image i { margin-left:40px; color:#7A0093; font-size:100px;  }


ul.gray-list { color:#6b6b6b; padding-left:40px; float:left; font-size:0.75em; list-style:disc; line-height:160%; margin-bottom:15px; width:100%; }


.toggle-contain { float:left; clear:both; width:685px; padding-top:10px;  border-top:1px dotted #cbdeb0;  }


.toggle-plus { cursor:pointer; width:675px; float:left; clear:both; font-size:0.8m; color:#658e29; text-align:center; padding:5px; background-color:#f2ffdb;  }

.toggle-plus:hover { background-color:#f8ffec; color:#658e29;  }

.show-hide-contain { float:left; clear:both; width:685px;  background-color:#fbfbfb; }


table.directory { background-color:#fbfbfb; border-collapse: collapse;  margin-bottom: 4px; font-size:0.75em; width:685px; margin-bottom:15px; float:left; clear:both; }

table.directory td { padding:5px 10px; border:1px dotted #cbdeb0; line-height:160%;  }

.table-head {  border:1px dotted #cbdeb0; background-color:#f2ffdb; font-size:1.2em; color:#658e29;   }

td.table-head a[id]:hover { text-decoration:none;  }

td.table-head .scroll-top a { float:right; font-size:1.2em; color:#658e29;   }

td.table-name { width:320px;   }

td.table-email { width:241px;  }

td.table-phone { width:106px; }




/* FOOTER
----------------------------------------------*/


footer { background: url(../images/portal-footer-back.jpg) repeat-x ; height:293px; width:100%; float:left; clear:both; margin-top:-40px;  }

#footer-links { margin:0 auto; text-align:center; width:960px; padding-top:50px; }

#footer-logo { float:right; width:195px; padding:15px 30px 0 0; }


#new-footer-links {float:left; text-align:center; width:680px; }


#new-footer-links ul { margin-top:10px;  }


#new-footer-links ul li { display:inline; padding:0 10px; border-right:1px solid #fff; }

#new-footer-links ul li a { color:#fff; font-size:0.68em; text-decoration:none; display:inline;  }

#new-footer-links ul li a:hover { text-decoration:underline;  }

#new-footer-links ul li:last-child { border:none;}


#subpage-content p.wrap-content { float:left; clear:both; width:none; float:none; clear:none; }

.content-image-print img { float:right; padding:0 20px 20px 20px;  }
